.overlay
  .overlay-video
    = video_tag 'intro_video.mp4', controls: true, id: 'intro-video'
  .overlay-video.margin-top-100
    .full-center.huge
      %span.blue-text Welcome to&nbsp;
      %span#logo-health Health
      %span#logo-pal> PAL
