#share-question-container
  #title
    Do you want to give someone else access to your recordings?
  = link_to 'Yes', shares_path(confirmed: true), class: 'share-button'
  = link_to 'No. Get me out of here!', root_path, class: 'share-button'
