.centered-form-container
  .form-title
    = t(:want_to_share)
  = link_to t(:yes), shares_path(confirmed: true), class: 'button margin-top-20'
  = link_to t(:out_of_here), root_path, class: 'button margin-top-20'
