.center.pad-top-40
  %h2 Do you want to give someone else access to your recordings?
.center.pad-top-40
  = link_to 'Yes', root_path(confirmed: true), class: 'btn btn-primary'
  = link_to 'No. Get me out of here!', root_path, class: 'btn btn-primary'

.center.pad-top-40
  = debug current_user.shares.active
