#proceed-form.centered-form-container
  #proceed-header.pad-30.margin-top-40.margin-bottom-40
    = t(:want_to_share)
  #proceed-buttons
    = link_to t(:affirm), shares_path(confirmed: true), class: 'button margin-top-20'
    = link_to t(:out_of_here), root_path, class: 'button margin-top-20'
