##################################################################################################
# CRITICAL FOR THE SECURITY OF PROTECTED HEALTH INFORMATION.
# LEAVE THIS AND PUT PHI ONLY IN THIS DIRECTORY.
/protected_media/*
##################################################################################################
/config/local_env.yml
/config/ssl/*
/.bundle
/.idea
/dumps/*
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.byebug_history
.gemrc
*.swp

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Decryption keys for credentials
/config/master.key
/config/credentials/development.key
/config/credentials/staging.key
/config/credentials/production.key
