##################################################################################################
# CRITICAL FOR THE SECURITY OF PROTECTED HEALTH INFORMATION.
# LEAVE THIS AND PUT PHI ONLY IN THIS DIRECTORY.
/protected_media/*
##################################################################################################

/config/ssl/*
/.bundle
/.idea
/dumps/*
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.byebug_history
/config/application.yml
/config/secrets.yml
/config/database.yml
.gemrc
*.swp


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

/config/master.key

/config/credentials/development.key

/config/credentials/staging.key

/config/credentials/production.key

