# Decryption key for credentials
/config/master.key

/.bundle
/.idea
/dumps/*
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.byebug_history
.gemrc
*.swp
.ruby-version
/dev-assets
/app/.DS_Store
/app/assets/.DS_Store
