%p
  Hello
  = @recording.user&.first_name
  ,
%p
  Thank you again for participating in the Open Access Audio Research Study.
%p
  If you have not already listened to your visit recording, please click on this link to review your last clinic visit recording before your upcoming clinic visit.
%p
  https://va.audiohealthpal.com (Click on the link)
%p
  Listening back to your recording is a key part of making the project a success.
%p
  Listening to the recording from your visit can help you prepare for your upcoming visit. You can:
  %br
  ● Identify things that have changed in your health or life that your doctor should know
  %br
  ● Discuss things you forgot to mention in your last visit
  %br
%p
  You may also want to share your recording with a family member or friend to keep them up to date with your care.
%p
  Please contact us with any questions at 
  = @user&.org&.contact_email_address 
%p
  Thanks again for taking part in the project!
