%p
  Hello
  = @recording.user&.first_name
  ,
%p
  Thank you for participating in the OPEN ACCESS AUDIO RESEARCH STUDY.
%p
  We hope you will take advantage of this opportunity to listen and learn about your health and healthcare from the recording of your visit. To do so, please
%p
  = link_to 'Click here', 'https://va.audiohealthpal.com'
%p
  Your username is your email address you used to set up the account while you were in clinic for your doctor's visit. If you can't recall your password, select "forgot password" and follow the instructions.
%p
  If you are unable to open the link, please navigate to https://va.audiohealthpal.com in your browser of choice.
%p
  Listening to the recording from your visit can help improve your care. You can:
  %br
  ● Be sure you understood what you and your doctor discussed about your care.
  %br
  ● Remind yourself of anything that you may have discussed that is especially important, including medication changes and upcoming appointments.
  %br
%p
  You may also want to share your recording with a family member or friend to keep them up to date with your care.
%p
  Please contact us with any questions at 312-569-6486 or email at 
  = @recording.user&.org&.contact_email_address 
%p
  Thanks again for taking part in the project!
