%p
  Hi
  = @recording.user&.first_name
  ,
%p
  Thank you again for participating in the AUDIO Trial.
%p
  Please click on this link to review your recording now (you will have to enter your email address and password):
%p
  https://va.audiohealthpal.com (Click on the link)
%p
  Listening back to your recording is a key part of making the project a success.
%p
  Listening to the recording from your visit can:
  %br
  ● Remind you of changes to your treatment
  %br
  ● Hear advice from your doctor and things recommended for you to do
  %br
  ● Realize things you forgot to mention 
  %br
%p
  You may also want to share your recording with a family member or friend to keep them up to date with your care.
%p
  Please contact us with any questions at 
  = @recording.user&.org&.contact_email_address 
%p
  Thanks again for taking part in the project!
