%p
  Hi
  = @user&.first_name
  ,
%p
  Thank you again for participating in the Open Access Audio Research Study.
%p
  Please click on this link to review the recording for your patient 
  = @recording.user&.full_name
   now. You will have to enter your email address and password:
%p
  = link_to 'Click here', 'https://va.audiohealthpal.com'
%p
  If you are unable to open the link, please navigate to va.audiohealthpal.com in your browser of choice.
%p
  Listening back to the recording is a key part of making the project a success.
%p
  Listening to the recording from the visit can:
  %br
  ● Remind you of changes to your patient's treatment
  %br
  ● Hear your advice and recommendations to your patient
  %br
  ● Realize things you forgot to mention 
  %br
%p
  Please contact us with any questions at 
  = @user&.org&.contact_email_address 
%p
  Thanks again for taking part in the project!
