%p
  Hello Dr. 
  = @user&.last_name
  ,
%p
  Thank you again for participating in the Open Access Audio Research Study. 
%p
  As you are aware, one of your patients, 
  = @recording.user&.full_name
  , recently received access to a recording of a visit with you that they can listen to (stream) and may share with a caregiver. We are studying whether this improves their ability to manage their care. 
%p
  If you would like to hear the recording you may do so via the following link: 
%p
  = link_to 'Click here', 'https://va.audiohealthpal.com'
%p
  Your username is your VA email address. If you can't recall your password or never set one up, select "forgot password" and follow the instructions.
%p
  If you are unable to open the link, please navigate to https://va.audiohealthpal.com in your browser of choice.
%p
  Please contact us with any questions at 
  = @user&.org&.contact_email_address 
%p
  Thanks again for taking part in the study!