%div{style: 'width: 500px; height: 700px; margin: 50px, background_color: #1c3e66; border-radius: 35px; color: white; font-size: 18px;'}
  %div{style: 'width: 100%, text-align: center, margin-top: 50px'}
    = @message_template.text
