%h3 Recordings
.row
  .col-md-12
    .panel.panel-default.table-responsive
      %table.table.table-striped.tablesorter#recs{:"data-sort-column" => 0, :"data-sort-desc" => 1}
        %thead
          %tr
            %th Created
            %th Recorded By
        %tbody
          - @recordings.all.each do |recording|
            %tr
              %td= link_to format_date_time(recording.created_at), play_path(recording.id)
              %td= recording.user.email

