= link_to 'Invite New User', new_user_invitation_path, class: 'btn btn-primary'
%h3 Users
.row
  .col-md-12
    .panel.panel-default.table-responsive
      %table.table.table-striped#sort-users
        %thead
          %tr
            %th Email
            %th Role
            %th Last Login
        %tbody
          - User.order('email ASC').all.each do |user|
            %tr
              %td= user.email
              %td= user.role.capitalize
              %td= format_date_time user.last_sign_in_at
