.table-container
  %table.table.table-striped.tablesorter{:"data-sort-column" => 0, :"data-sort-desc" => 1}
    %thead
      %tr
        %th Recorded at (click to view)
        %th Database ID
        %th Recorded By
        %th Audit complete
    %tbody
      - @recordings.all.each do |recording|
        %tr.trecording-select
          %td.recording-select{data: {href: play_path(recording.id)}}= link_to format_date_time_sort(recording.created_at), play_path(recording.id)
          %td= recording.id
          %td.recording-select{data: {href: play_path(recording.id)}}= recording.user.email
          - if recording.user_can_access
            %td.table-check= fa_icon 'check'
          -else
            %td
