.pad-30
  .table-container
    -# %p= button_to 'Manually upload audio file', file_upload_path, class: 'button', method: :get
    %table.table.table-striped.tablesorter{:"data-sort-column" => 0, :"data-sort-desc" => 1}
      %thead
        %tr.header-row
          %th Recording created at
          %th Database ID
          %th Recorded By
          %th Transcript
          %th Tags
      %tbody
        - @recordings.all.each do |recording|
          %tr.table-row.trecording-select
            %td.recording-select{data: {href: play_path(recording.id)}}= link_to format_date_time_sort(recording.created_at), play_path(recording.id), class: 'table-link'
            %td= recording.id
            %td.recording-select{data: {href: play_path(recording.id)}}= recording.user.email
            %td= link_to 'Upload/replace transcript', upload_transcript_path(id: recording.id), class: 'table-link'
            %td= link_to('Manage tags and links', new_tag_path(id: recording.id), class: 'table-link') if recording.utterances.any?
