#filter-help-text
  %p.help-text
    %h3 The colored buttons allow you control which aspects of your visit that you want to focus on. The buttons are:
  %p.help-text
    %ul#help-list
      %li.help-text
        %b Symptoms signs problems:
        A symptom or sign of your health is discussed
      %li.help-text
        %b Diagnosis:
        A possible diagnosis is discussed  
      %li.help-text
        %b Medication:
        A medication is discussed
      %li.help-text
        %b Test &amp; Imaging:
        A test or imaging result is discussed
      %li.help-text
        %b Recommendation:
        The doctor recommends or confirms an approach to your healthcare
      %li.help-text
        %b Follow-up:
        A follow-up plan or future visit is discussed  
      %li.help-text
        %b Education:
        The doctor explains something about your health e.g. what a medicine does,
      %li.help-text
        %b Treatment options:
        Different treatment options, including doing nothing are discussed  
  %p.help-text#close-filter-help
    %button.btn.btn-primary Close

