%p
  %div.row.player
    %button#playaudio.btn.btn-primary
      #play-pause-text Play
      %span#play-pause-icon.glyphicon.glyphicon-play
    %time#timer
      00:00
    %div.timebar
      %div#timerbar
        %span#loc.glyphicon.glyphicon-chevron-down
    %time#timer-end
      00:00
        
