%p
  %div.row.player
    %time#timer
      00:00
    %div.timebar
      %div#timerbar
        %span#loc.glyphicon.glyphicon-chevron-down
    %time#timer-end
      00:00
  %div.center
    %button#stepbackward.btn.btn-circle.btn-lg{style: 'background: red'}
      = image_tag 'rewind10.svg', size: 30
    %button#playaudio.btn.btn-circle.btn-lg{style: 'background: green'}
      %span.glyphicon.glyphicon-play
    %button#stepforward.btn.btn-circle.btn-lg{style: 'background: blue'}
      = image_tag 'forward10.svg', size: 30
        
