%p
  %div.row.player
    %time#timer
      00:00
    %div.timebar
      %div#timerbar
        %span#loc.glyphicon.glyphicon-chevron-down
    %time#timer-end
      00:00
  %div.center
    %button#stepbackward.btn.btn-circle.btn-lg
      %span.glyphicon.glyphicon-step-backward
    %button#playaudio.btn.btn-circle.btn-lg
      %span.glyphicon.glyphicon-play
    %button#stepforward.btn.btn-circle.btn-lg
      %span.glyphicon.glyphicon-step-forward
        
