%p
  %div.row.player
    %button#playaudio.btn.btn-circle.btn-lg
      %span.glyphicon.glyphicon-play
    %time#timer
      00:00
    %div.timebar
      %div#timerbar{value: 20, max: 2100}
        %span#loc.glyphicon.glyphicon-chevron-down
    %time#timer-end
      00:00
        
