%p
  %div.row.player
    %time#timer
      00:00
    %div.timebar
      %div#timerbar
        %span#loc.glyphicon.glyphicon-chevron-down
    %time#timer-end
      00:00
  %div.center
    %button#stepbackward.btn= image_tag 'rewind10.svg', size: 30
    %button#playaudio.btn.btn-primary
      #play-pause-text Play
      %span#play-pause-icon.glyphicon.glyphicon-play
    %button#stepforward.btn= image_tag 'forward10.svg', size: 30
