#play-view{'data-initial-recording-id': @recording&.id}
  #left
    #search-and-select
      #search
        = render 'search'
      #select
        - @recordings.each do |recording|
          = render 'recording_list_item', recording: recording
  #right.hidden
    #playback
      #video-element
      #header
        Current recording:
        %span#current-recording-title
        #show-select < Select a different recording
      #notes
        Notes
      #transport
        -# Transport