#index-view
  #tab-row
    #tab-container
      - @users.each do |user|
        - if user == @users.first
          %span.tab.selected{'data-user-id': user.id}
            = user.full_name
        -else
          %span.tab{'data-user-id': user.id}
            = user.full_name
  #content-row
    #content-container
      - @users.each do |user|
        - if user == @users.first
          .content{'data-user-id': user.id}
            = user.email
        - else user == @users.first
          .content.hidden{'data-user-id': user.id}
            = user.email
