#video-element
#play-view{'data-recording-id': @recording_id}
  #left.hidden
    #search-and-select
      #search
        = render 'search'
      #select
        - @current_user_recordings.each do |recording|
          = render 'recording_list_item', recording: recording
  #right
    #playback
      #header
        #show-select Select a recording
      #notes
        Notes
      #transport
        -# Transport