#index-view
  #tab-container
    #tabs
      - @users.each do |user|
        %span.tab{'data-user-id': user.id, class: ('selected' if user == @users.first)}
          = user.full_name
  #content-container
    - @users.each do |user|
      .content{'data-user-id': user.id, class: ('hidden' unless user == @users.first)}
        %table
          %thead
            %tr#header-row
              %th Recorded at
              %th Provider
              %th Notes
          %tbody
            - user.recordings.each do |recording|
              %tr
                %td= format_date_time_long(recording.created_at)
                %td provider
                %td notes

