#index-view
  #tab-row
    #tab-container
      - @users.each do |user|
        %span.tab{'data-user-id': user.id}
          = user.full_name
  #content-row
    #content-container
      - @users.each do |user|
        .content{'data-user-id': user.id}
          = user.email
