%h3
  Recordings
  .row
    .col-xs-12
      .container--tabs
        %section.row
          %ul.nav.nav-tabs
            - @users.each_with_index do |u, i|
              %li{class: i == 0 ? 'active' : ''}
                %a{href: "#tabs-#{i}"}
                  =u.full_name
          .tab-content
            - @users.each_with_index do |u, i|
              %div.tab-pane{id: "tabs-#{i}", class: i == 0 ? 'active' : ''}
                %p
                  .panel.panel-default.table-responsive
                    %table.table.table-striped
                      %thead
                        %tr
                          %th.bigger Visit Date
                          %th.bigger Provider

                          -# TODO Re-enable duration when it's fixed
                            %th.bigger Duration
                      %tbody
                        - u.recordings.order('created_at desc').each do |recording|
                          %tr.trecording-select
                            %td.bigger.recording-select{data: {href: play_path(recording.id)}}= link_to format_date(recording.created_at), play_path(recording.id)
                            -# = render "shared/editable_field", obj: recording, field: 'provider'
                            %td
                              - unless recording&.provider
                                #new-provider-badge
                                  %span.glyphicon.glyphicon-plus
                                  Add a provider name for this visit
                              - if recording&.provider
                                #provider-container
                                  = best_in_place(recording,
                                    :provider,
                                    as: :textarea,
                                    place_holder: nil,
                                    ok_button: 'Save',
                                    ok_button_class: 'btn btn-primary small-button',
                                    cancel_button: 'Cancel',
                                    cancel_button_class: 'btn btn-info small-button',
                                    )

                            -# TODO Renable duration when it's fixed
                              %td.bigger.recording-select{data: {href: play_path(recording.id)}}= 'foo'
