#play-view
  #left
    #select-collapsed.hidden
      >
    #search-and-select
      #search
        = render 'search'
      #select
        - @recordings.each do |recording|
          = render 'recording_list_item', recording: recording
  #right
    #playback.hidden
      #notes
        Notes
      #transport
        Transport