#play-view
  #left.hidden
    #search-and-select
      #search
        = render 'search'
      #select
        - @recordings.each do |recording|
          = render 'recording_list_item', recording: recording
  #right
    #playback
      #notes
        Notes
      #transport
        Transport