#play-view

  #head
    - title = format_date @recording.created_at
    - title += " Visit with #{@recording.provider}" if @recording.provider
    %h3= @recording.user.full_name
    %h4= title

  #player
    #controls-container
      #timeline
        #playhead
      #buttons
        #buttons-container
          #empty
          #rewind-button.player-button
            .glyphicon.glyphicon-fast-backward.centered-glyph
            Rewind
          #play-pause-button.player-button
            .glyphicon.glyphicon-play.centered-glyph
            Play
          #fast-forward-button.player-button
            .glyphicon.glyphicon-fast-forward.centered-glyph
            Forward
          #empty2
          #mute-button.player-button
            -# Use volume-off when muted
            .glyphicon.glyphicon-volume-up.centered-glyph
            Mute

  #table.fixed-header
    %table.fixed-header
      %thead.fixed-header
        %tr.fixed-header
          %th.fixed-header.zero-width
          %th.fixed-header Topics discussed
          %th.fixed-header Start time
          %th.fixed-header Links to external information
      %tbody.fixed-header
        - 45.times do
          %tr.fixed-header
            %th.fixed-header.zero-width
            %td.fixed-header sdflksjdflskjdflkjsdflkjsdflkjsdflkjsdflkjsdflkjsdlfkj
            %td.fixed-header sdflks
            %td.fixed-header sdflksjdfl

  #sidebar


