#play-view
  #recording-header
    - title = format_date @recording.created_at
    - title += " Visit with #{@recording.provider}" if @recording.provider
    %h3= @recording.user.full_name
    %h4= title

  #player-controls

  #player-tag-table.fixed-header
    %table.fixed-header
      %thead.fixed-header
        %tr.fixed-header
          %th.fixed-header.zero-width
          %th.fixed-header Start time
          %th.fixed-header Topics discussed
          %th.fixed-header Links to external information
      %tbody.fixed-header
        - 45.times do
          %tr.fixed-header
            %th.fixed-header.zero-width
            %td.fixed-header sdflksjdflskjdflkjsdflkjsdflkjsdflkjsdflkjsdflkjsdlfkj
            %td.fixed-header sdflks
            %td.fixed-header sdflksjdfl

  #player-sidebar


