#play-view

  #head
    - title = format_date @recording.created_at
    - title += " Visit with #{@recording.provider}" if @recording.provider
    %h3= @recording.user.full_name
    %h4= title

  #player
    #controls-container
      #timeline
        #playhead
      #buttons
        #buttons-container
          #empty
          #rewind-button
            .glyphicon.glyphicon-fast-backward.small-centered-glyph
          %span#play-pause-button
            .glyphicon.glyphicon-play.big-centered-glyph
            %span.play-button-label
              Play
          #fast-forward-button
            .glyphicon.glyphicon-fast-forward.small-centered-glyph
          #empty2
          #mute-button
            .glyphicon.glyphicon-volume-up.small-centered-glyph

  #table.fixed-header
    %table.fixed-header
      %thead.fixed-header
        %tr.fixed-header
          %th.fixed-header.zero-width
          %th.fixed-header Topics discussed
          %th.fixed-header Start time
          %th.fixed-header Links to external information
      %tbody.fixed-header
        - 45.times do
          %tr.fixed-header
            %th.fixed-header.zero-width
            %td.fixed-header sdflksjdflskjdflkjsdflkjsdflkjsdflkjsdflkjsdflkjsdlfkj
            %td.fixed-header sdflks
            %td.fixed-header sdflksjdfl

  #sidebar


