%body
  .wrapper
    %header
      %h2 New Recording
    %section.main-controls
      %div.meter-container
        %canvas.center.visualizer
      #buttons
        %button.record.btn.btn-primary Record
        %button.stop.btn.btn-primary Stop
    %section.sound-clips
      -#
        %article.clip
          %audio{:controls => ""}
          %p Sample clip name
          %button.delete Delete
