#record-container
  %canvas#audio-meter{width: '50', height: '200'}
  .center-block
    audio level
  #record-start-stop
    #record-start-button.tall-button.center-block.margin-top-20 Start recording
    #record-stop-button.button.center-block.margin-top-20.hidden Stop recording
  %audio#record-audio{autoplay: true}
