#record-container
  %canvas#audio-meter{width: '50', height: '200'}
  .center-block
    audio level
  #record-start-stop
    #record-start-button.button Start recording now
    #record-stop-button.button Stop recording now
  %audio#record-audio{autoplay: true}
