#recorder-wrapper
  %header
    %h2#recorder-header

  %section.begin-record.recording.state
    %div.meter-container
      %div#vu
        %img#vui{src: asset_path('vu.jpg')}
          %div#vu1
    %p.center
      Input Level

  %section.begin-record.state.center
    #buttons
      %button.record.btn.btn-primary Record
      %button.btn.disabled Stop

  %section.recording.state.center
    %p
      %time#rectimer
        00:00:00
    #buttons
      %button.record.btn.disabled Record
      %button.stop.btn.btn-primary Stop

%section.recorded.state
  %div#recording-container{data: {}}
  = render partial: "/play/player.html.haml"
  %h3#clipLabel
    clip
  #buttons
    %button#deleteButton.btn Delete
    %button#uploadButton.btn Save
