%body
  .wrapper
    %header
      %h2 New Recording
    #section.begin-record.recording.state
      %div.meter-container
        %div#vu
          %img#vui{src: "/assets/vu.jpg"}
            %div#vu1
    %section.recorded.state
      RECORDED
    %section.uploaded.state
      UPLOADED
    %section.begin-record.state.center
      %p
        Check your microphone's input level on the display above.
      %p
        To begin recording, press:
      #buttons
        %button.record.btn.btn-primary Record
    %section.recording.state.center
      %p
        %time#timer
          00:00:00
      %p
        Recording in progress.
      #buttons
        %button.stop.btn.btn-primary Stop
    %section.sound-clips
      -#
        %article.clip
          %audio{:controls => ""}
          %p Sample clip name
          %button.delete Delete
