%body
  .wrapper
    %header
      %h2 New Recording
    %section.main-controls
      %canvas.visualizer
      #vu-meter
        Zero
      #buttons
        %button.record Record
        %button.stop Stop
    %section.sound-clips
      -#
        %article.clip
          %audio{:controls => ""}
          %p Sample clip name
          %button.delete Delete
