default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000

development:
  <<: *default
  host: <%= Rails.application.credentials[:development][:db_host] %>
  database: <%= Rails.application.credentials[:development][:db_name] %>
  username: <%= Rails.application.credentials[:development][:db_user] %>
  password: <%= Rails.application.credentials[:development][:db_password] %>
  port: <%= Rails.application.credentials[:development][:db_port] %>

hp1:
  <<: *default
  host: <%= Rails.application.credentials[:hp1][:db_host] %>
  database: <%= Rails.application.credentials[:hp1][:db_name] %>
  username: <%= Rails.application.credentials[:hp1][:db_user] %>
  password: <%= Rails.application.credentials[:hp1][:db_password] %>
  port: <%= Rails.application.credentials[:hp1][:db_port] %>
