#admin-index {
  .table-container {
    #buttons-container {
      display: flex;
      flex-wrap: wrap;
      .admin-button-container {
        margin-right: 10px;
        padding: 5px;
      }
    }
  }
}

#contact-email-address {
  #contact-email-address-display {
    display: inline-block;
    margin-left: 10px;
  }
  #open-email-address-editor {
    display: inline-block;
    transform: translate(-10px, 4px);
    margin-left: 10px;
  }
  #contact-email-address-editor {
    display: inline-block;
    #update-contact-email-address {
      display: inline-block;
      transform: translate(-10px, 7px);
      margin-left: 10px;
    }
    #cancel-edit-contact-email-address {
      display: inline-block;
      transform: translate(-10px, 7px);
    }
    #contact-email-address-value {
      width: 240px;
      box-shadow: none;
      border: 1px solid #555;
      margin-left: 1px;
      padding: 7px;
      border-radius: 3px;
      font-size: 18px;
    }
  }
  .contact-email-svg {
    display: inline-block;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    fill: $color-2;
  }
}
