#admin-index {
  padding: 0 30px 30px 30px;
  #buttons-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 20px;
    .admin-button-container {
      margin-right: 10px;
      padding: 5px;
    }
  }
  .recording {
    padding-bottom: 5px;
    text-decoration: underline;
    color: $color-2;
    &:hover{
      cursor: pointer;
      color: $color-3;
    }
  }
}

#contact-email-address {
  font-size: 16px;
  #contact-email-address-display {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
  }
  #open-email-address-editor {
    display: inline-block;
    transform: translate(-10px, 4px);
    margin-left: 10px;
  }
  #contact-email-address-editor {
    display: inline-block;
    #update-contact-email-address {
      display: inline-block;
      transform: translate(-10px, 7px);
      margin-left: 10px;
    }
    #cancel-edit-contact-email-address {
      display: inline-block;
      transform: translate(-10px, 7px);
    }
    #contact-email-address-value {
      width: 240px;
      box-shadow: none;
      border: 1px solid #555;
      margin-left: 1px;
      padding: 7px;
      border-radius: 3px;
      font-size: 16px;
    }
  }
  .contact-email-svg {
    display: inline-block;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    fill: $color-2;
  }
}
