// Libraries
// @import 'twitter-bootstrap-static/bootstrap';
@import 'bootstrap';
@import 'rails_bootstrap_forms';
@import 'font-awesome';
@import 'jquery-tablesorter/theme.bootstrap';
@import 'jquery-tablesorter/theme.default';
@import 'select2';
@import 'select2-bootstrap';

// Local
@import 'jquery-ui';
@import 'ic3d_components';
@import 'main';
@import 'admin';
@import 'play';
@import 'recorder_app';
@import 'recorder_install_button.css';
@import 'css_checkbox_badge';
@import 'fixed_table_header';
@import 'share';
@import 'tabs';
@import 'user_notes';
@import 'jqueryui-editable';

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(asset_path('glyphicons-halflings-regular.eot'));
  src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'),
    url(asset_path('glyphicons-halflings-regular.woff')) format('woff'),
    url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'),
    url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}

body {
  margin: 1em;
  font-size: 16px;
  padding-top: 50px;
}

/* fix padding under menu after resize */
@media screen and (max-width: 767px) {
  body { padding-top: 50px; }
}
@media screen and (min-width:768px) and (max-width: 989px) {
  body { padding-top: 140px; }
}
@media screen and (min-width: 990px) and (max-width: 1199px) {
  body { padding-top: 100px; }
}
@media screen and (min-width: 1200px) {
  body { padding-top: 50px; }
}

.navbar {
  font-size: 16px;

}

.btn, .table, .segment .tag, .form-control {
  font-size: 120%;
  height: inherit;
}

.tablesorter-header {
  display: table-cell !important;
  vertical-align: middle !important;
  background-position: left center !important;
  padding-left: 20px;
}

.tablesorter-header-inner {
  padding-left: 25px;
}

.lighter {
  color: #bbb !important;
}

.segment, .recording-select {
  transition: background-color 0.2s ease;
}

.tablesorter-default tbody > tr:hover > td {
  background: #ffe;
}

.trecording-select:hover {
  background: #ffe !important;
}

.segment:hover, .recording-select:hover {
  background: #ffe;
  cursor: pointer;
}
.segment.playing:hover {
  background: #dfd;
}
.playing {
  background: #dfe;
}
.btn-tag, .btn-tag.disabled {
  background-color: #e4e4e4;
  color: #000;
  border-color: #777;
}
.seek {
  font-size: large;
}

.tag {
  font-size: 18px !important;
  background-color: #e4e4e4;
  color: #000;
  border-color: #444;
  display: inline-block;
  white-space: nowrap;
  padding: 3px 6px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
}

#vu1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0;
  width: 3em;
  background-color: #ccc;
  z-index: 1;
}

#vui {
  width: 3em;
  height: 15em;
}

#vu {
  position: relative;
  text-align: center;
}

.center {
  text-align: center;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

#timerbar {
  background: #fff;
  border: 1px solid #8ca;
  border-radius: 5px;
  height: 12px;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
}
#loc {
  top: -4px;
  left: 0px;
  margin-left: -8px;
  transition: left 0.2s linear;
  font-weight: 800%;
}
.right {
  height: 100%;
  background: blue;
}
.wide {
  width: 100%;
}

.left {
  float: left;
}

.timebar {
  overflow: auto;
  width: 100%;
}
.player {
  align-items: center;
  display: flex;
  background-color: #f0f0f0;
  border-radius: 15px;
  font-size: large;
}

time {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.fixed {
  top: 40px;
  position: fixed;
  background: #fff;
  z-index: 200;
}

.playtabletop {
  margin-top: 350px;
}
.below {
  margin-top: 120px;
}

.btn-success {
  color: #fff;
  margin: -1px;
}

.wide-filter{
  width: 100%;
  border: none;
  text-align: left;
}

.oralfilter-dia {
  background-color: #bfdee9;
}
.oralfilter-dia.btn-success {
  background-color: #007da6;
}

.oralfilter-dis {
  background-color: #d7cfed;
}
.oralfilter-dis.btn-success {
  background-color: #763fb9;
}

.oralfilter-edu {
  background-color: #ebd4f4;
}
.oralfilter-edu.btn-success {
  background-color: #B053D3;
}

.oralfilter-fol {
  background-color: #f9ecc2;
}
.oralfilter-fol.btn-success {
  background-color: #E8B20D;
}

.oralfilter-sig {
  background-color: #ebbfd4;
}
.oralfilter-sig.btn-success {
  background-color: #AF0052;
}

.oralfilter-tes {
  background-color: #f9e1c2;
}
.oralfilter-tes.btn-success {
  background-color: #e8890d;
}

.oralfilter-rec {
  background-color: #c5d7e9;
}
.oralfilter-rec.btn-success {
  background-color: #185EA6;
}

.oralfilter-tre {
  background-color: #bfe9e6;
}
.oralfilter-tre.btn-success {
  background-color: #00A69C;
}

.admin-background {
  background-color: #900;
}
