// Libraries
@import 'font-awesome';
@import 'jquery-tablesorter/theme.bootstrap';
@import 'jquery-tablesorter/theme.default';
@import 'select2';
@import 'select2-bootstrap';
@import 'jquery-ui';

// Local
@import 'sass_variables';
@import 'main';
@import 'play';
@import 'share';
@import 'tabs';
@import 'fixed_header_table';
@import 'css_checkbox_badge';

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(asset_path('glyphicons-halflings-regular.eot'));
  src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'),
    url(asset_path('glyphicons-halflings-regular.woff')) format('woff'),
    url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'),
    url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}
