// Libraries
@import 'twitter-bootstrap-static/bootstrap';
@import 'rails_bootstrap_forms';
@import 'font-awesome';
@import 'jquery-tablesorter/theme.bootstrap';
@import 'jquery-tablesorter/theme.default';
@import 'select2';
@import 'select2-bootstrap';
@import 'bootstrap-editable';

// Local
@import 'ic3d_components';
@import 'main';
@import 'admin';
@import 'recorder_app';
@import 'recorder_install_button.css';

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/glyphicons-halflings-regular.woff') format('woff'),
  url('/assets/glyphicons-halflings-regular.ttf') format('truetype'),
  url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.tablesorter-header {
  display: table-cell !important;
  vertical-align: middle !important;
  background-position: left center !important;
  padding-left: 20px;
}

.tablesorter-header-inner {
  padding-left: 25px;
}

.segment {
  transition: background-color 0.5s ease;
}
.segment:hover {
  background: #ffe;
}
.segment.playing:hover {
  background: #dfd;
}
.playing {
  background: #dfe;
}
.btn-tag, .btn-tag.disabled {
  background-color: #e4e4e4;
  color: #000;
  border-color: #777;
}
.seek {
  font-size: large;
}

.tag {
  background-color: #e4e4e4;
  color: #000;
  border-color: #444;
  display: inline-block;
  white-space: nowrap;
  padding: 3px 6px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
}