// Libraries
@import 'font-awesome';
@import 'jquery-ui.min';
@import 'jquery-ui.structure.min';
@import 'jquery-ui.theme.min';

// Local
@import 'sass_variables';
@import 'main';
@import 'navbar';
@import 'play';
@import 'share';
@import 'css_checkbox_badge';
@import 'forms';
@import 'tabs';
@import 'table';
@import 'record';

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(asset_path('glyphicons-halflings-regular.eot'));
  src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'),
    url(asset_path('glyphicons-halflings-regular.woff')) format('woff'),
    url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'),
    url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}
