// Libraries
@import 'twitter-bootstrap-static/bootstrap';
@import 'rails_bootstrap_forms';
@import 'font-awesome';
@import 'jquery-tablesorter/theme.bootstrap';
@import 'jquery-tablesorter/theme.default';
@import 'select2';
@import 'select2-bootstrap';
@import 'bootstrap-editable';

// Local
@import 'ic3d_components';
@import 'main';
@import 'admin';
@import 'recorder_app';
@import 'recorder_install_button.css';

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(asset_path('glyphicons-halflings-regular.eot'));
  src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'),
    url(asset_path('glyphicons-halflings-regular.woff')) format('woff'),
    url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'),
    url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}

.tablesorter-header {
  display: table-cell !important;
  vertical-align: middle !important;
  background-position: left center !important;
  padding-left: 20px;
}

.tablesorter-header-inner {
  padding-left: 25px;
}

.lighter {
  color: #bbb !important;
}

.segment, .recording-select {
  transition: background-color 0.2s ease;
}

.tablesorter-default tbody > tr:hover > td {
  background: #ffe;
}

.trecording-select:hover {
  background: #ffe !important;
}

.segment:hover, .recording-select:hover {
  background: #ffe;
  cursor: pointer;
}
.segment.playing:hover {
  background: #dfd;
}
.playing {
  background: #dfe;
}
.btn-tag, .btn-tag.disabled {
  background-color: #e4e4e4;
  color: #000;
  border-color: #777;
}
.seek {
  font-size: large;
}

.tag {
  background-color: #e4e4e4;
  color: #000;
  border-color: #444;
  display: inline-block;
  white-space: nowrap;
  padding: 3px 6px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
}

#vu1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0;
  width: 3em;
  background-color: #ccc;
  z-index: 1;
}

#vui {
  width: 3em;
  height: 15em;
}

#vu {
  position: relative;
  text-align: center;
}

.center {
  text-align: center;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

#timerbar {
  background: #fff;
  border: 1px solid #8ca;
  border-radius: 5px;
  height: 12px;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
}
#loc {
  top: -4px;
  left: 0px;
  margin-left: -8px;
  transition: left 0.2s linear;
  font-weight: 800%;
}
.right {
  height: 100%;
  background: blue;
}
.wide {
  width: 100%;
}

.left {
  float: left;
}

.timebar {
  overflow: auto;
  width: 100%;
}
.player {
  align-items: center;
  display: flex;
  background-color: #f0f0f0;
  border-radius: 15px;
  font-size: large;
}

time {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.fixed {
  top: 40px;
  position: fixed;
  background: #fff;
  z-index: 1;
}

.playtabletop {
  margin-top: 180px;
}
.below {
  margin-top: 120px;
}
.belownav {
  margin-top: 50px;
}

.btn-success {
  color: #fff;
  margin: -1px;
}

.oralfilterDia {
  background-color: #bfdee9;
}
.oralfilterDia.btn-success {
  background-color: #007da6;
}

.oralfilterDis {
  background-color: #d7cfed;
}
.oralfilterDis.btn-success {
  background-color: #763fb9;
}

.oralfilterEdu {
  background-color: #ebd4f4;
}
.oralfilterEdu.btn-success {
  background-color: #B053D3;
}

.oralfilterFol {
  background-color: #f9ecc2;
}
.oralfilterFol.btn-success {
  background-color: #E8B20D;
}

.oralfilterSig {
  background-color: #ebbfd4;
}
.oralfilterSig.btn-success {
  background-color: #AF0052;
}

.oralfilterTes {
  background-color: #f9e1c2;
}
.oralfilterTes.btn-success {
  background-color: #e8890d;
}

.oralfilterTrx {
  background-color: #c5d7e9;
}
.oralfilterTrx.btn-success {
  background-color: #185EA6;
}

.oralfilterTre {
  background-color: #bfe9e6;
}
.oralfilterTre.btn-success {
  background-color: #00A69C;
}
