div.fixed-header {
	width: 100%;
  position: relative;
}

table.fixed-header {
	width: 100%;
  position: relative;
  border-collapse: collapse;
  overflow: scroll;
}

td.fixed-header, th.fixed-header {
  padding: 0.25em;
}

thead.fixed-header th.fixed-header {
  position: sticky;
  top: 0;
  background: #000;
  color: #FFF;
}

thead.fixed-header th.fixed-header:first-child {
  left: 0;
  z-index: 1;
}

tbody.fixed-header th.fixed-header {
  position: sticky;
  left: 0;
  background: #FFF;
  border-right: 1px solid #CCC;
}

th.fixed-header.zero-width{
  display: none;
}
