.fixed-header{
  font-weight: normal;
}

div.fixed-header {
	width: 100%;
  position: relative;
}

table.fixed-header {
	width: 100%;
  position: relative;
  border-collapse: collapse;
  border: none;
  overflow: scroll;
}

td.fixed-header, th.fixed-header {
  padding: 0.25em;
}

thead.fixed-header th.fixed-header {
  position: sticky;
  top: 0;
  background: $background-dark;
  color: #fff;
}

thead.fixed-header th.fixed-header:first-child {
  left: 0;
  z-index: 1;
}

tbody.fixed-header th.fixed-header {
  position: sticky;
  left: 0;
  color: $background-dark;
  border-right: 1px solid #CCC;
}

th.fixed-header.zero-width{
  display: none;
}

#header-row {
  height: 40px;
}

tr:nth-child(even) {background: $table-row-dark}
tr:nth-child(odd) {background: $table-row-light}
