.fixed-header{
  font-weight: normal;
  color: #333;
  text-align: left;

  div {
    width: 100%;
    position: relative;
  }

  table {
    width: 100%;
    position: relative;
    border-collapse: collapse;
    border: none;
    overflow: scroll;
  }

  td, th {
    padding: 15px;
  }

  thead th {
    position: sticky;
    top: 0;
    background: $background-dark;
    color: #fff;
  }

  thead th:first-child {
    left: 0;
    z-index: 1;
  }

  tbody th {
    position: sticky;
    left: 0;
    color: $background-dark;
    border-right: 1px solid #CCC;
  }

  th.zero-width{
    display: none;
  }

  #header-row {
    height: 40px;
  }

  td:hover{
    cursor: pointer;
    background-color: $dark-highlight;
  }
}
