@include logo;

.centered-form-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.form-title{
  text-align: center;
  font-size: 24px;
}

.field-centered{
  width: 322px;
}

.form-input-container{
  width: 322px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-input{
  box-sizing: border-box;
  width: 322px;
  padding: 10px;
  border-style: initial;
  box-shadow: none;
  color: #333;
  font-size: 18px;
}

.input-underscore {
  width: 302px;
  margin-left: 10px;
  border-top: 1px solid #888;
}

.form-label{
  font-size: 14px;
  padding: 0 0 0 10px;
  color: #888;
}

.button{
  box-sizing: border-box;
  margin: 20px 0 10px 10px;
  height: 50px;
  line-height: 50px;
  width: 302px;
  background-color: $color-2;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 6px;
  &:hover{
    cursor: pointer;
    background-color: $color-3;
  }
  &:active{
    background-color: $color-4;
  }
}
