form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  max-width: $form-input-max-width;
}

// TODO: Deprecate
.centered-form-container{
  // background-color: yellowgreen;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  // align-items: center;
  // width: 100%;
}

.form-title{
  text-align: center;
  font-size: 24px;
}

.field-centered{
  width: 100%;
  max-width: $form-input-max-width;
}

.form-input{
  box-sizing: border-box;
  width: 100%;
  max-width: $form-input-max-width;
  padding: 5px 0;
  border-style: initial;
  box-shadow: none;
  color: #333;
  font-size: 18px;
}

.input-underscore {
  width: 100%;
  max-width: $form-input-max-width;
  // max-width: calc(#{$form-input-max-width} - 5 * #{$form-input-padding});
  margin-bottom: 30px;
  border-top: 1px solid #888;
}

.form-label{
  width: 100%;
  max-width: $form-input-max-width;
  // max-width: calc(#{$form-input-max-width} - 5 * #{$form-input-padding});
  font-size: $form-label-font-size;
  color: #888;
}

.button{
  box-sizing: border-box;
  height: 45px;
  line-height: 45px;
  margin-top: $form-label-font-size;
  margin-bottom: 10px;
  width: 100%;
  max-width: $form-input-max-width;
  background-color: $color-2;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 4px;
  &:hover{
    cursor: pointer;
    background-color: $color-3;
  }
  &:active{
    background-color: $color-4;
  }
}
