.centered-form-container{
  @include logo;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px;
}

.form-title{
  text-align: center;
  font-size: 24px;
}

.field-centered{
  width: 322px;
}

.form-input-container{
  width: 322px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-input{
  box-sizing: border-box;
  width: 322px;
  padding: 10px;
  border-style: initial;
  box-shadow: none;
  color: #333;
  font-size: 18px;
}

.input-underscore {
  width: 302px;
  margin-left: 10px;
  border-top: 1px solid #888;
}

.form-label{
  font-size: 14px;
  padding: 0 0 0 10px;
  color: #888;
}

.button{
  box-sizing: border-box;
  margin: 20px 0 10px 10px;
  height: 50px;
  line-height: 50px;
  width: 302px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: #666;
  border: 1px solid #888;
  border-radius: 6px;
  &:hover{
    cursor: pointer;
    background-color: $logo-light-semi;
    border: 1px solid $logo-dark-semi;
    color: rgba(62, 69, 88, 1.0);
  }
  &:active{
    background-color: $logo-dark-semi;
  }
}
