// TODO: Deprecate
.centered-form-container{
  // background-color: yellowgreen;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  // align-items: center;
  // width: 100%;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: $form-input-max-width;
}

.modal-form-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  box-sizing: border-box;
  width: 85%;
  max-width: 450px;
  max-height: 90%;
  padding: 30px;
  @media screen and (min-width: $max-mobile-width) {
    padding: 50px;
  }
  border-radius: 4px;
  color: $color-2;
  box-shadow: 5px 5px 40px 6px rgba(0, 0, 0, 0.35);
}

.form-title{
  font-size: 24px;
  padding-bottom: 20px;
}

.field-centered{
  width: 100%;
  max-width: $form-input-max-width;
}

.form-input{
  box-sizing: border-box;
  width: 100%;
  max-width: $form-input-max-width;
  padding-left: 0;
  padding-top: 7px;
  padding-bottom: 4px;
  border-style: initial;
  box-shadow: none;
  color: #333;
  font-size: 18px;
}

.input-underscore {
  width: 100%;
  max-width: $form-input-max-width;
  margin-bottom: 30px;
  border-top: 1px solid #888;
}

.form-label{
  width: 100%;
  max-width: $form-input-max-width;
  font-size: $form-label-font-size;
  color: #888;
}

// TODO: Translate is a hack to compensate for margin below underscore
.form-label-below{
  width: 100%;
  transform: translate(0, -25px);
  max-width: $form-input-max-width;
  font-size: $form-label-font-size;
  color: #888;
}

@mixin button{
  box-sizing: border-box;
  height: 45px;
  line-height: 45px;
  margin-top: $form-label-font-size;
  width: 100%;
  max-width: $form-input-max-width;
  background-color: $color-2;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 4px;
  &:hover{
    cursor: pointer;
    background-color: $color-3;
  }
  &:active{
    background-color: $color-4;
  }
}

.button{
  @include button;
}

@mixin small-button{
  @include button;
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}

.save-cancel-buttons{
  display: flex;
  justify-content: flex-end;
  .cancel{
    @include small-button;
    margin-right: 10px;
    background-color: $color-4;
  }
  .save{
    @include small-button;
  }
}

.form-link{
  padding-top: 15px;
  text-align: left;
  color: $color-2;
}