.centered-form-container{
  @include logo;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px;
}

.form-title{
  text-align: center;
  font-size: 24px;
}

.form-field-container{
  margin-bottom: 40px;
}

.field-centered{
  width: 322px;
}

.form-input-container{
  width: 322px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-input{
  box-sizing: border-box;
  width: 322px;
  padding: 10px;
  border-style: initial;
  box-shadow: none;
  color: #333;
  font-size: 18px;
}

.input-underscore {
  width: 302px;
  margin-left: 10px;
  border-top: 1px solid #888;
}

.form-label{
  font-size: 14px;
  padding: 0 0 0 10px;
  color: #888;
}

.button{
  box-sizing: border-box;
  margin: 20px 0 10px 10px;
  height: 50px;
  line-height: 50px;
  width: 302px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: #444;
  border: 1px solid #888;
  border-radius: 3px;
  &:hover{
    cursor: pointer;
    background-color: $background-very-light;
  }
}

.button-short{
  width: 150px;
  height: 25px;
  line-height: 20px;
  font-size: 14px;
}

.button-tall{
  height: 100px;
}

.button-fat{
  height: 100px;
  width: 150px;
}

.button-container{
  width: 320px;
}

.disabled{
  background-color: #ccc;
  &:hover{
    cursor: pointer;
    background-color: #ccc;
  }
}

.text-link{
  display: inline-block;
  color: $background-dark;
}
