.centered-form-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
}

.form-title{
  text-align: center;
  font-size: 24px;
}

.form-field-container{
  margin-bottom: 40px;
}

.field-centered{
  width: 322px;
}

.form-input-container{
  display: flex;
  width: 322;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-input{
  padding: 10px 0 10px 10px;
  margin: 0;
  width: 300px;
  border-style: initial;
  border-bottom: 1px solid #888;
  box-shadow: none;
  color: #333;
  font-size: 18px;
}

// .form-input-short{
//   width: 300px;
//   padding: 5px;
//   margin: 0;
//   border-bottom: 1px solid $background-light;
//   color: #333;
//   font-size: 14px;
// }

.form-label{
  font-size: 14px;
  padding: 0 0 0 10px;
  color: #888;
}

.button{
  margin: 10px 0;
  height: 50px;
  line-height: 50px;
  width: 300px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: #444;
  border: 1px solid #888;
  border-radius: 3px;
  &:hover{
    cursor: pointer;
    background-color: $background-very-light;
  }
}

.button-short{
  width: 150px;
  height: 25px;
  line-height: 20px;
  font-size: 14px;
}

.button-tall{
  height: 100px;
}

.button-fat{
  height: 100px;
  width: 150px;
}

.button-container{
  width: 320px;
}

.disabled{
  background-color: #ccc;
  &:hover{
    cursor: pointer;
    background-color: #ccc;
  }
}

.text-link{
  display: inline-block;
  color: $background-dark;
}
