.centered-form-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
}

.form-title{
  text-align: center;
  font-size: 24px;
}

.form-field-container{
  margin-bottom: 20px;
}

.field-centered{
  width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.form-input{
  background-color: #fff;
  width: 300px;
  padding: 10px;
  margin: 0;
  border-radius: 3px;
  border: 1px solid $background-light;
  color: #333;
  font-size: 18px;
}

.form-input-short{
  background-color: #fff;
  width: 300px;
  padding: 5px;
  margin: 0;
  border-radius: 3px;
  border: 1px solid $background-light;
  color: #333;
  font-size: 14px;
}

.form-label{
  margin-bottom: 3px;
  font-size: 18px;
  color: #333;
}

.button{
  height: 50px;
  line-height: 50px;
  width: 322px;
  background-color: $background-light;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 3px;
  &:hover{
    cursor: pointer;
    background-color: $background-very-light;
  }
}

.button-short{
  width: 150px;
  height: 25px;
  line-height: 20px;
  font-size: 14px;
}

.button-tall{
  height: 100px;
}

.button-fat{
  height: 100px;
  width: 150px;
}

.button-container{
  width: 320px;
}

.disabled{
  background-color: #ccc;
  &:hover{
    cursor: pointer;
    background-color: #ccc;
  }
}

.text-link{
  display: inline-block;
  color: $background-dark;
}
