//
// ic3d Components to be re-used across applications
// A "component" is a conceptual element that turns up in many web apps, for example, an "error message", or a "small
// form", or a "side menu"
//
@import '_ic3d_mixins';

//
// Error/Alert styling beyond what bootstrap provides
.alert {
  font-weight: bold;
  ul {
    font-weight: normal;
  }
}

//
// Link-buttons are buttons (usually submit buttons) that look like regular anchor links. Use if you
// need to create an anchor link that sends a POST instead of a GET.
//
// For example:
//<form method="post" action="some_page" class="ic3d_link_button_form">
//<input type="hidden" name="extra_submit_param" value="extra_submit_value">
//<button type="submit" name="submit_param" value="submit_value" class="ic3d_link_button">
//  "Link" text
//</button>
//</form>
//
// Use for link-button <form>
.ic3d_link_button_form {
  display: inline;
}
//
// Use for the link-button itself
.ic3d_link_button {
  @include ic3d_link_color;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
}
.ic3d_link_button:focus {
  outline: none;
}
.ic3d_link_button:hover, .ic3d_link_button:active {
  text-decoration: underline;
}
//
// Data-entry forms of various kinds
.ic3d_small_form {
  /*
  Use ic3d_small_form when the form would look best constrained horizontally because its elements are so small - for
  example, a login form.
  */
  @include ic3d_centered_horizontally;
  @include ic3d_form_standards;
  max-width: 400px;
}

.ic3d_med_form {
  /*
  Use ic3d_med_form when the form would look best constrained horizontally because its elements are so small - BUT,
  there's too much text in the header for the small form to work.
  */
  @include ic3d_centered_horizontally;
  @include ic3d_form_standards;
  max-width: 600px;
}
