.user-field-container{
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 13px;
    color: $background-dark;
    .provider-content{
      height: 16px;
    }
    .note-content{
      display: flex;
      align-items: flex-start;
      color: $background-dark;
      #note-content{
        height: 55px;
      }
    }
}

