html {
  height: 100%;
}

body {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  visibility: invisible;
  min-height: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  @media screen and (max-width: $max-mobile-width) {
    font-size: 16px;
  }
  color: $color-1;
}

*:focus {
  outline: none;
}

#content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
  min-height: 100%;
  max-height: 100%;
}

#flash {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  z-index: 100;
  margin: 15px;
  padding: 10px 25px 10px 10px;
  border-radius: 5px;
  background-color: $color-10;
  color: #333;
  #dismiss-flash {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 3px;
    right: 3px;
    svg {
      fill: #555;
      &:hover {
        fill: #777;
        cursor: pointer;
      }
    }
  }
}

a {
  color: white;
  font-size: 18px;
  &:hover {
    color: $color-1;
  }
}

textarea {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  resize: none;
  padding: 10px;
  margin-bottom: 20px;
  outline: none;
  height: 80px;
  background-color: $color-9;
  border: 2px solid $color-8;
  border-radius: 3px;
  box-shadow: none;
}

.center-block {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.center-inline {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

#loader-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  #sized-loader-box {
    // background-color: yellowgreen;
    min-height: 330px;
    #loader {
      margin-top: 105px;
      @media screen and (min-width: $max-mobile-width) {
        margin-top: 133px;
      }
      border: 16px solid #f3f3f3;
      border-top: 16px solid #3498db;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
    }
  }
  #upload-text {
    padding: 30px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.92);
}

#dismiss-video {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -2px;
  &:hover {
    cursor: pointer;
  }
}

.margin-top-150 {
  margin-top: 150px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-neg-40 {
  margin-top: -60px;
}

.margin-top-neg-100 {
  margin-top: -100px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-bottom-40 {
  margin-bottom: 40px !important;
}

.margin-bottom-60 {
  margin-bottom: 60px !important;
}

.pad-15 {
  padding: 15px;
}

.pad-30 {
  padding: 30px;
}

.pad-left-20 {
  padding-left: 20px;
}

.pad-left-30 {
  padding-left: 30px;
}

.pad-left-40 {
  padding-left: 40px;
}

.pad-right-30 {
  padding-right: 30px;
}

.padding-top-60 {
  padding-top: 60px;
}

.title {
  font-size: 20px;
}

.big-title {
  font-size: 30px;
}

.huge {
  font-size: 40px;
}

.smaller {
  font-size: 14px;
}

.medium {
  font-size: 16px;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.absolute {
  position: absolute;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.full-center {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.horizontal-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.highlighted-row {
  background-color: white;
}

.even-row {
  background-color: white;
}

.odd-row {
  background-color: white;
}

.svg {
  height: 30px;
  width: 30px;
}

.large-svg {
  margin-top: 10px;
  height: 50px;
  width: 50px;
  fill: white;
}

.alert-svg {
  margin-top: 10px;
  height: 80px;
  width: 80px;
  fill: $color-2;
}

.medium-svg {
  height: 25px;
  width: 25px;
}

.small-svg {
  // As of now, matches .pill height
  box-sizing: border-box;
  height: 34px;
  line-height: 34px;
  padding: 6px 0;
  fill: $color-2;
}

.dismiss-video-svg {
  margin: 5px;
  height: 30px;
  width: 30px;
  fill: #aaa;
}

.edit-svg {
  display: inline-block;
  box-sizing: border-box;
  height: 25px;
  line-height: 25px;
  fill: $color-2;
}

.width-800 {
  width: 800px;
}

.blue-text {
  color: white;
}

.table-heading-format {
  opacity: 0;
  padding: 10px;
  font-weight: normal;
  background-color: white;
  color: #fff;
}

.user-icon {
  font-size: 20px;
  line-height: 20px;
}

// importants are needed or fa ignores this
.local-fa {
  margin-right: 10px !important;
  padding-bottom: 13px !important;
  font-size: 28px !important;
  color: #666 !important;
}

.local-fa-small {
  font-size: 20px !important;
  color: #666 !important;
}

.floating-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  height: 80px;
  width: 80px;
  background-color: $color-2;
  box-shadow: 0 6px 16px 0 #999;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 40px;
  p.single-line {
    margin: 0;
    padding: 0;
    line-height: 20px;
  }
  &:hover {
    cursor: pointer;
    background-color: $color-3;
  }
  &:active {
    background-color: $color-4;
  }
}

.pill {
  box-sizing: border-box;
  width: auto;
  height: 34px;
  line-height: 34px;
  border-radius: 17px;
  font-size: 17px;
  padding: 0 15px;
  background-color: $color-2;
  color: white;
  text-align: center;
  &:hover {
    cursor: pointer;
    background-color: $color-3;
  }
  &:active {
    background-color: $color-4;
  }
}

// For some reason, inline SVG moves pill text downward
span.text-with-svg {
  display: inline-block;
  transform: translateY(-11px);
  color: $color-2;
}

.italic-note {
  font-size: 14px;
  font-style: italic;
}

.responsive-font-size {
  @media screen and (max-width: $max-mobile-width) {
    font-size: 15px;
  }
}

.no-decoration {
  text-decoration: none;
}

#toggle-locale {
  position: absolute;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
    color: $color-2;
  }
  @media screen and (max-width: $max-mobile-width) {
    top: 51px;
    left: 210px;
    font-size: 14px;
  }
  @media screen and (min-width: $max-mobile-width) {
    top: 30px;
    right: 30px;
    font-size: 16px;
  }
}

.overflow-scroll{
  overflow: scroll !important;
}
