body {
  display: grid;
  grid-template-areas:
    "navbar"
    "content";
  grid-template-rows: auto minmax(0, 1fr);
  visibility: invisible;
  height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  background-color: $well-background;
  color: #333;
}

#content {
  grid-area: content;
  box-sizing: border-box;
  padding: 20px;
}

#flash {
  position: absolute;
  width: 640px;
  top: 14px;
  left: 50%;
  margin-left: -320px;
  line-height: 46px;
  border-radius: 5px;
  text-align: center;
  background-color: $notification-color;
  color: $notification-text-color;
  #dismiss-flash {
    position: absolute;
    top: 0;
    left: 600px;
    margin-top: 6px;
    svg {
      fill: $notification-text-color;
      &:hover {
        fill: #9b8b56;
        cursor: pointer;
      }
    }
  }
}

.center-block {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.center-inline {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

#loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  #upload-text {
    margin-top: 350px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@mixin overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.overlay {
  @include overlay;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay-video {
  @include overlay;
}

.opaque-overlay {
  @include overlay;
  background-color: black;
}

#dismiss-video {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -2px;
  &:hover {
    cursor: pointer;
  }
}

.margin-top-neg-100 {
  margin-top: -100px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-8 {
  margin-top: 8px;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.pad-left-40 {
  padding-left: 40px;
}

.title {
  font-size: 20px;
}

.huge {
  font-size: 40px;
}

.smaller {
  font-size: 14px;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.absolute {
  position: absolute;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.full-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlighted-row {
  background-color: $light-highlight;
}

.even-row {
  background-color: $table-row-dark;
}

.odd-row {
  background-color: $table-row-light;
}

.svg {
  height: 30px;
  width: 30px;
}

.large-svg {
  margin-top: 10px;
  height: 50px;
  width: 50px;
  fill: #fff;
  // &:hover{
  //   fill: $background-light;
  // }
}

.medium-svg {
  height: 25px;
  width: 25px;
}

.small-svg {
  margin-top: 10px;
  height: 20px;
  width: 20px;
  fill: $background-dark;
  &:hover {
    fill: $background-light;
  }
}

.width-800 {
  width: 800px;
}

.blue-text {
  color: $background-dark;
}

.table-heading-format {
  opacity: 0;
  padding: 10px;
  font-weight: normal;
  background-color: $background-dark;
  color: #fff;
}

.help-button {
  position: relative;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  padding-top: 3px;
  background-color: $background-light;
  color: white;
  border-radius: 12px;
  &:hover {
    cursor: pointer;
  }
}

.info-panel {
  display: flex;
  align-items: space-between;
  position: absolute;
  z-index: 20;
  box-sizing: border-box;
  width: 350px;
  top: 15px;
  right: -14px;
  margin-top: 20px;
  padding: 20px;
  color: white;
  font-size: 16px;
  line-height: 20px;
  background: $background-light;
  border-radius: 3px;
  .info-text {
    // background-color: blue;
    width: 350px;
  }
  .close-panel {
    // background-color: yellowgreen;
    width: 35px;
    transform: translate(5px, -5px);
  }
}
.info-panel:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  width: 0;
  height: 0;
  right: 15px;
  border: 11px solid transparent;
  border-color: transparent transparent $background-light transparent;
}

.rotate-z-90 {
  transform: rotateZ(90deg);
}
