html{
  max-height: 100vh;
}

body {
  visibility: invisible;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #333;
  background-color: $well-background;
}

#page-container{
  display: grid;
  grid-template-areas: 'navbar'
                       'menubar' 
                       'content';
  grid-template-rows: #{$navbar-height $menubar-height} 1fr;

  #grid-navbar{
    display: grid;
    grid-area: navbar;
    height: #{$navbar-height + $menubar-height};
    overflow: hidden;
  }

  #grid-menubar{
    display: grid;
    grid-area: menubar;
    height: $menubar-height;
    overflow: hidden;
  }

  #grid-content{
    display: grid;
    grid-area: content;
    padding: 0 20px 0 20px;
  }
}

.hidden{
  display: none;
}

.invisible{
  visibility: invisible;
}

.zero-width{
  width: 0;
}
