body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  background-color: $well-background;
}

#page-container{
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas: 'navbar'
                       'menubar' 
                       'content';
  grid-template-rows: #{$navbar-height $menubar-height} 400px;

  #grid-navbar{
    display: grid;
    grid-area: navbar;
    height: #{$navbar-height + $menubar-height};
    overflow: hidden;
  }

  #grid-menubar{
    display: grid;
    grid-area: menubar;
    height: $menubar-height;
    overflow: hidden;
  }

  #grid-content{
    display: grid;
    grid-area: content;
    padding: 20px;
    margin-bottom: 20px;
  }
}

.hidden{
  display: none;
}

