.pad-top-50{
  padding-top: 50px;
}
.pad-top-20{
  padding-top: 20px;
}

.pad-top-40{
  padding-top: 40px;
}

.qrcode-container{
  width: 256px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand{
  // Was simply padding-top: 8px; when image was used
  font-size: 2.0em;
  padding-top: 15px;
}

#logo-health{
  color: rgba(74, 164, 156, 1.0)
}

#logo-pal{
  color: rgba(187, 189, 191, 1.0)
}

.editable{
  border-bottom: none !important;
}

.editable-input{
  min-width: 500px !important;
}

.max-width-400{
  max-width: 400px;
}

.bigger{
  font-size: 1.3em;
}

.red-bg{
  background-color: red;
}
