body {
  display: grid;
  grid-template-areas: 'navbar'
                       'content';
  grid-template-rows: auto minmax(0, 1fr);
  visibility: invisible;
  height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #333;
  @media screen and (max-width: $max-mobile-width) {
    font-size: 16px;;
  }
}

*:focus {
  outline: none;
}

#content{
  grid-area: content;
  box-sizing: border-box;
  padding: 25px;
}

#flash{
  position: absolute;
  width: 640px;
  top: 14px;
  left: 50%;
  margin-left: -320px;
  line-height: 46px;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  color: white;
  #dismiss-flash{
    position: absolute;
    top: 0;
    left: 600px;
    margin-top: 6px;
    svg{
      fill: white;
      &:hover{
        fill: #9b8b56;
        cursor: pointer;
      }
    }
  }
}

a {
  color: white;
  font-size: 16px;
  &:hover{
    color: white;
  }
}


.center-block{
  display: block;
  margin: 0 auto;
  text-align: center;
}

.center-inline{
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

#loader-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #loader{
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
	#upload-text{
		margin-top: 350px;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@mixin overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.overlay {
  @include overlay;
  background-color: rgba(0,0,0,0.8);
}

.overlay-video{
  @include overlay;
}

.opaque-overlay {
  @include overlay;
  background-color: black;
}

#dismiss-video{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -2px;
  &:hover{
    cursor: pointer;
  }
}

.margin-top-neg-100{
  margin-top: -100px;
}

.margin-top-150{
  margin-top: 150px;
}

.margin-top-100{
  margin-top: 100px;
}

.margin-top-40{
  margin-top: 40px;
}

.margin-top-20{
  margin-top: 20px;
}

.margin-top-15{
  margin-top: 15px;
}

.margin-left-10{
  margin-left: 10px;
}

.margin-bottom-10{
  margin-bottom: 10px !important;
}

.margin-bottom-20{
  margin-bottom: 20px !important;
}

.margin-bottom-30{
  margin-bottom: 30px !important;
}

.margin-bottom-40{
  margin-bottom: 40px !important;
}

.margin-bottom-60{
  margin-bottom: 60px !important;
}

.pad-left-40{
  padding-left: 40px;
}

.title{
  font-size: 20px;
}

.big-title{
  font-size: 30px;
}

.huge{
  font-size: 40px;
}

.smaller{
  font-size: 14px;
}

.hidden{
  display: none;
}

.invisible{
  visibility: hidden;
}

.absolute{
  position: absolute;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.full-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlighted-row{
  background-color: white;
};

.even-row{
  background-color: white;
}

.odd-row{
  background-color: white;
}

.svg{
  height: 30px;
  width: 30px;
}

.large-svg{
  margin-top: 10px;
  height: 50px;
  width: 50px;
  fill: #fff;
  // &:hover{
  //   fill: white;
  // }
}

.medium-svg{
  height: 25px;
  width: 25px;
}

.small-svg{
  margin-top: 10px;
  height: 20px;
  width: 20px;
  fill: white;
  &:hover{
    fill: white;
  }
}

.width-800{
  width: 800px;
}

.blue-text{
  color: white;
}

.table-heading-format{
  opacity: 0;
  padding: 10px;
  font-weight: normal;
  background-color: white;
  color: #fff;
}

.user-icon{
  font-size: 20px;
  line-height: 20px;
}

// importants are needed or fa ignores this
.local-fa{
  margin-right: 10px !important;
  padding-bottom: 13px !important;
  font-size: 28px !important;
  color: #666 !important;
}

.local-fa-small{
  font-size: 20px !important;
  color: #666 !important;
}