.pad-top-50{
  padding-top: 50px;
}
.pad-top-20{
  padding-top: 20px;
}

.pad-top-40{
  padding-top: 40px;
}

.qrcode-container{
  width: 256px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand{
  padding-top: 8px;
}

.editable{
  border-bottom: none !important;
}

.editable-input{
  min-width: 500px !important;
}

.max-width-400{
  max-width: 400px;
}

.bigger{
  font-size: 1.3em;
}
