html{
  max-height: 100vh;
}

body {
  visibility: invisible;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  background-color: $well-background;
  color: #333;
}

#page-container{
  display: grid;
  grid-template-areas: 'navbar'
                       'menubar' 
                       'content';
  grid-template-rows: #{$navbar-height $menubar-height} calc(100vh - #{$navbar-height + $menubar-height});

  #grid-navbar{
    display: grid;
    grid-area: navbar;
    height: #{$navbar-height + $menubar-height};
    overflow: hidden;
  }

  #grid-menubar{
    display: grid;
    grid-area: menubar;
    height: $menubar-height;
    overflow: hidden;
  }

  #grid-content{
    display: grid;
    grid-area: content;
    padding: 0 20px 0 20px;
  }
}

.hidden{
  display: none;
}

.invisible{
  visibility: invisible;
}

.svg{
  height: 30px;
  width: 30px;
}

.medium-svg{
  height: 25px;
  width: 25px;
}

.small-svg{
  margin-top: 10px;
  height: 20px;
  width: 20px;
  fill: $background-dark;
  &:hover{
    fill: $background-light;
  }
}

