html{
  max-height: 100vh;
}

body {
  visibility: invisible;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  background-color: $well-background;
  color: #333;
}

#page-container{
  display: grid;
  grid-template-areas: 'navbar'
                       'menubar' 
                       'flash' 
                       'content';
  grid-template-rows: #{$navbar-height $menubar-height $flash-height} calc(100vh - #{$navbar-height + $menubar-height + $flash-height});

  #grid-navbar{
    display: grid;
    grid-area: navbar;
    height: #{$navbar-height + $menubar-height};
    overflow: hidden;
  }

  #grid-menubar{
    display: grid;
    grid-area: menubar;
    height: $menubar-height;
    overflow: hidden;
  }

  #grid-flash{
    display: grid;
    grid-area: flash;
    height: $flash-height;
    overflow: hidden;
    .flash{
      position: relative;
      width: 600px;
      line-height: 46px;
      margin: 10px auto 4px auto;
      border-radius: 5px;
      text-align: center;
      background-color: $notification-color;
      color: $notification-text-color;
      #dismiss-flash{
        position: absolute;
        top: 0;
        left: 560px;
        margin-top: 5px;
        svg{
          fill: $notification-text-color;
          &:hover{
            fill: #9b8b56;
            cursor: pointer;
          }
        }
      }
    }
  }

  #grid-content{
    display: grid;
    grid-area: content;
    padding: 0 20px 0 20px;
  }
}

.center-block{
  display: block;
  margin: 0 auto;
  text-align: center;
}

.center-inline{
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

#loader-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #loader{
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.margin-top-40{
  margin-top: 40px;
}

.margin-top-20{
  margin-top: 20px;
}

.margin-bottom-10{
  margin-bottom: 10px !important;
}

.title{
  font-size: 20px;
}

.hidden{
  display: none;
}

.invisible{
  visibility: invisible;
}

.text-center{
  text-align: center;
}

.full-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlighted-row{
  background-color: $light-highlight;
};

.even-row{
  background-color: $table-row-dark
}

.odd-row{
  background-color: $table-row-light
}

.svg{
  height: 30px;
  width: 30px;
}

.large-svg{
  margin-top: 10px;
  height: 50px;
  width: 50px;
  fill: #fff;
  // &:hover{
  //   fill: $background-light;
  // }
}

.medium-svg{
  height: 25px;
  width: 25px;
}

.small-svg{
  margin-top: 10px;
  height: 20px;
  width: 20px;
  fill: $background-dark;
  &:hover{
    fill: $background-light;
  }
}

.width-800{
  width: 800px;
}
