body {
  margin: 1em;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background-color: $well-background;
}

#page-container{
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas: 'navbar'
                       'content';
  grid-template-rows: 120px 100%;
  #grid-navbar{
    display: grid;
    grid-area: navbar
  }

  #grid-content{
    display: grid;
    grid-area: content;
  }
}

