@mixin menu-horiz{
  display: inline-block;
  padding: 0 13px;
  text-decoration: none;
  font-size: 17px;
  line-height: 40px;
}

@mixin menu-vert{
  display: block;
  padding: 6px 8px;
  text-decoration: none;
  font-size: 17px;
}

@mixin logo{
  #logo-container{
    width: 100%;
    #logo-spans{
      display: flex;
      align-items: center;
      #icon{
        padding: 15px 15px 15px 25px;
        height: 55px;
      }
      #logo-health, #logo-pal, #logo-admin{
        font-size: 42px;
        line-height: 42px;
      }
      #logo-open, #logo-recordings{
        display: inline-block;
        margin-top: 32px;
        vertical-align: baseline;
        font-size: 20px;
      }
      #logo-health, #logo-open{
        color: $logo-dark;
      }
      #logo-pal, #logo-recordings{
        color: $logo-light;
      }
      #logo-admin{
        margin-left: 10px;
        color: red;
        opacity: 0.7;
      }
    }
  }
}
