@mixin clickable-base{
  box-sizing: border-box;
  padding: 0 13px 13px 13px;
  text-decoration: none;
  font-size: 17px;
  &:hover {
    color: #222;
  }
}

@mixin logo{
  #logo-container{
    width: 100%;
    #logo-spans{
      display: flex;
      align-items: center;
      #icon{
        padding: 15px 15px 15px 25px;
        height: 55px;
      }
      #logo-health, #logo-pal, #logo-admin{
        font-size: 42px;
        line-height: 42px;
      }
      #logo-open, #logo-recordings{
        display: inline-block;
        margin-top: 32px;
        vertical-align: baseline;
        font-size: 20px;
      }
      #logo-health, #logo-open{
        color: $logo-dark;
      }
      #logo-pal, #logo-recordings{
        color: $logo-light;
      }
      #logo-admin{
        margin-left: 10px;
        color: red;
        opacity: 0.7;
      }
    }
    @media screen and (max-width: 500px) {
      #logo-spans{
        font-size: 24px;
      }
    }
  }
}
