#logo-health{ color: rgba(74, 164, 156, 1.0); }
#logo-pal{ color: rgba(187, 189, 191, 1.0); }

#nav-container {
  width: 100%;

  #logo-container{
    height: $navbar-height;
    background-color: $background-dark;
    #logo-spans{
      padding: 12px;
      max-height: $navbar-height;
      font-size: 48px;
    }
  }

  #menu-container{
		.navbar {
			width: 100%;
			background-color: #555;
			overflow: auto;
		}

		.navbar a {
			float: left;
			padding: 12px;
			color: white;
			text-decoration: none;
			font-size: 17px;
		}

		.navbar a:hover {
			background-color: #000;
		}

		.active {
			background-color: #4CAF50;
		}

		@media screen and (max-width: 500px) {
			.navbar a {
				float: none;
				display: block;
			}
		}
  }

}

.admin-background{
  background-color: #a33;
}
