.menu-horiz{
  @include menu-horiz;
  &:hover {
    color: #222;
  }
  color: #777;
  border-bottom: 3px solid white;
}

.menu-horiz-selected{
  @include menu-horiz;
  color: #222;
  border-bottom: 3px solid $color-3;
}

.menu-vert{
  @include menu-vert;
  color: #777;
  border-left: 3px solid white;
}

.menu-vert-selected{
  @include menu-vert;
  color: #222;
  border-left: 3px solid $color-3;
}

#mobile-menu-button{
  position:  absolute;
  right: 0;
  height: 40px;
  width: 40px;
  padding-right: 10px;
  &:hover {
    cursor: pointer;
  }
}

#nav-container{
  @include logo; 
  width: 100%;
  #menu-container{
    margin-top: 5px;
    #wide{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: 0 15px;
      @media screen and (min-width: $max-mobile-width) {
        border-bottom: 1px solid #bbb;
      }
      @media screen and (max-width: $max-mobile-width) {
        border-bottom: 1px solid white;
      }
      #menu-left{
        align-self: flex-start;
      }
      #menu-right{
        align-self: flex-end;
      }
    }
    #long{
      box-sizing: border-box;
      padding: 10px 13px 10px 13px;
      width: 100%;
      border-bottom: 1px solid #bbb;
    }
  }
}