@mixin clickable-base{
  background-color: white;
  overflow: auto;
  padding: 20px 15px 15px 15px;
  text-decoration: none;
  font-size: 17px;
  &:hover {
    color: #222;
  }
}

.clickable{
  @include clickable-base;
  color: #777;
  border-bottom: 3px solid rgba(255, 155 , 255, 0.0);
}

.clickable-selected{
  @include clickable-base;
  color: #222;
  border-bottom: 3px solid #89aadf;
}

#nav-container{
  grid-area: navbar;
  width: 100%;
  #logo-container{
    width: 100%;
    background-color: $background-dark;
    #logo-spans{
      display: flex;
      align-items: center;
      #icon{
        padding: 15px 15px 15px 25px;
        height: 55px;
      }
      #logo-health, #logo-pal, #logo-admin{
        font-size: 42px;
        line-height: 42px;
      }
      #logo-open, #logo-recordings{
        display: inline-block;
        margin-top: 32px;
        vertical-align: baseline;
        font-size: 20px;
      }
      #logo-health, #logo-open{
        color: $logo-dark;
      }
      #logo-pal, #logo-recordings{
        color: $logo-light;
      }
      #logo-admin{
        margin-left: 10px;
        color: yellow;
        opacity: 0.5;
      }
      #mobile-menu-button-container{
        width: 100%;
        text-align: right;
        padding-left: 15px;
        padding-right: 15px;
        #mobile-menu-button {
          color: white;
          font-size: 22px;
          font-weight: bold;
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
    @media screen and (max-width: 500px) {
      #logo-spans{
        font-size: 24px;
      }
    }
  }

  #menu-container{
    box-sizing: border-box;
    padding: 10px 13px 0 13px;
    width: 100%;
    background-color: white;
    // box-shadow: 0 6px 4px -4px  rgba(0,0,0,0.2);
    border-bottom: 1px solid #bbb;
    overflow: auto;
    #navbar-left a {
      float: left;
    }
    #navbar-right-big a {
      float: right;
    }
    @media screen and (max-width: 500px) {
      #navbar-left a, #navbar-right-small a{
        float: none;
        display: block;
      }
    }
  }
}
