#nav-container {
  display: grid;
  width: 100%;
  height: $navbar-height;
  grid-template-areas: 'logo'
                       'menu';
  grid-template-rows: #{$navbar-height $menubar-height};

  #logo-container{
    display: grid;
    grid-area: logo;
    height: $navbar-height;
    background-color: $background-dark;
    #logo-spans{
      padding: 12px;
      height: $navbar-height;
      font-size: 48px;
      #or-logo{
        margin: auto;
        #open-recordings-logo{
        }
      }
      #logo-health{
        margin: auto;
        color: rgba(74, 164, 156, 1.0);
      }
      #logo-pal{
        margin: auto;
        color: rgba(187, 189, 191, 1.0);
      }
    }
  }

  #menu-container{
    display: grid;
    grid-area: menu;
    background-color: $background-dark;
    #menu-left-container{
    }
    #menu-right-container{
    }

    ul.nav {
      list-style-type: none;
    }

    li.nav {
      a{
        color: #fff;
      }
    }
  }
}
