#nav-container{
  width: 100%;
  #logo-container{
    width: 100%;
    background-color: $background-dark;
    #logo-spans{
      display: flex;
      align-items: center;
      #icon{
        padding: 10px;
        height: 55px;
      }
      #logo-health, #logo-pal{
        font-size: 38px;
        line-height: 38px;
      }
      #logo-open, #logo-recordings{
        font-size: 16px;
      }
      #logo-health, #logo-open{
        color: $logo-dark;
      }
      #logo-pal, #logo-recordings{
        color: $logo-light;
      }
      .debug-content{
        opacity: 0;
        width: 1px;
        height: 1px;
        font-size: 12px;
        background-color: $notification-color;
        color: $notification-text-color;
        border-radius: 3px;
      }
      #mobile-menu-button {
        width: 100%;
        text-align: right;
        padding-left: 15px;
        padding-right: 15px;
        color: white;
        font-size: 22px;
        font-weight: bold;
				&:hover{
					cursor: pointer;
        }
      }
    }
    @media screen and (max-width: 500px) {
      #logo-spans{
        font-size: 24px;
      }
    }
  }
  #menu-container{
    width: 100%;
    background-color: $background-light;
    overflow: auto;
    @mixin navbar{
      background-color: $background-light;
      overflow: auto;
      padding: 12px;
      color: white;
      text-decoration: none;
      font-size: 17px;
      &:hover {
        background-color: $background-very-light;
      }
    }
    #navbar-left a {
      float: left;
      @include navbar;
    }
    #navbar-right-big a {
      float: right;
      @include navbar;
    }
    .active {
      background-color: #4CAF50;
    }
    @media screen and (max-width: 500px) {
      #navbar-left a, #navbar-right-small a{
        float: none;
        display: block;
      }
    }
  }
}
