.clickable{
  @include clickable-base;
  display: inline-block;
  color: #777;
  border-bottom: 3px solid white;
}

.clickable-selected{
  @include clickable-base;
  display: inline-block;
  color: #222;
  border-bottom: 3px solid $logo-dark;
}

#nav-container{
  grid-area: navbar;
  width: 100%;
  @include logo; 
  #mobile-menu-button-container{
    #mobile-menu-button {
      &:hover{
        cursor: pointer;
      }
    }
  }

  #menu-container{
    #wide{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      border-bottom: 1px solid #bbb;
      #menu-left{ align-self: flex-start; }
      #menu-right{ align-self: flex-end; }
    }

    #long{
      box-sizing: border-box;
      padding: 10px 13px 0 13px;
      width: 100%;
      border-bottom: 1px solid #bbb;
      overflow: auto;
    }
  }
}
