.clickable{
  @include clickable-base;
  color: #777;
  border-bottom: 3px solid rgba(255, 155 , 255, 0.0);
}

.clickable-selected{
  @include clickable-base;
  color: #222;
  border-bottom: 3px solid $logo-dark;
}

#nav-container{
  grid-area: navbar;
  width: 100%;
  @include logo; 
  #mobile-menu-button-container{
    #mobile-menu-button {
      &:hover{
        cursor: pointer;
      }
    }
  }

  #menu-container{
    #wide{
      display: flex;
      flex: 0 0 100%;
      justify-content: flex-start;
      width: 100%;
      @mixin menu-wide{
        box-sizing: border-box;
        padding: 10px 13px 0 13px;
        overflow: auto;
        border-bottom: 1px solid #bbb;
      }
      #menu-left{
        background-color: #ccc;;
        @include menu-wide;
        align-self: flex-start;
      }
      #menu-right{
        background-color: #ddd;;
        @include menu-wide;
        align-self: flex-end;
      }
    }

    #long{
      box-sizing: border-box;
      padding: 10px 13px 0 13px;
      width: 100%;
      border-bottom: 1px solid #bbb;
      overflow: auto;
    }
  }
}
