.menu-horiz{
  @include menu-horiz;
  &:hover {
    color: #222;
  }
  color: #777;
  border-bottom: 3px solid white;
}

.menu-horiz-selected{
  @include menu-horiz;
  color: #222;
  border-bottom: 3px solid $logo-dark;
}

.menu-vert{
  @include menu-vert;
  color: #777;
  border-left: 3px solid white;
}

.menu-vert-selected{
  @include menu-vert;
  color: #222;
  border-left: 3px solid $logo-dark;
}

#mobile-menu-button{
  position:  relative;
  right: 10px;
  padding-right: 10px;
}

#nav-container{
  grid-area: navbar;
  @include logo; 
  width: 100%;
  #menu-container{
    margin-top: 20px;
    #wide{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: 0 15px;
      border-bottom: 1px solid #bbb;
      #menu-left{
        align-self: flex-start;
      }
      #menu-right{
        align-self: flex-end;
      }
      #mobile-menu-button {
        &:hover{
          cursor: pointer;
        }
      }
    }

    #long{
      box-sizing: border-box;
      padding: 10px 13px 10px 13px;
      width: 100%;
      border-bottom: 1px solid #bbb;
    }
  }
}
