@mixin clickable-base{
  background-color: white;
  overflow: auto;
  padding: 12px;
  text-decoration: none;
  font-size: 17px;
  &:hover {
    color: #222;
  }
}

.clickable{
  @include clickable-base;
  color: #666;
}

.clickable-selected{
  @include clickable-base;
  color: #222
}

#nav-container{
  grid-area: navbar;
  width: 100%;
  #logo-container{
    width: 100%;
    background-color: $background-dark;
    #logo-spans{
      display: flex;
      align-items: center;
      #icon{
        padding: 10px;
        height: 55px;
      }
      #logo-health, #logo-pal, #logo-admin{
        font-size: 38px;
        line-height: 38px;
      }
      #logo-open, #logo-recordings{
        font-size: 16px;
      }
      #logo-health, #logo-open{
        color: $logo-dark;
      }
      #logo-pal, #logo-recordings{
        color: $logo-light;
      }
      #logo-admin{
        margin-left: 10px;
        color: yellow;
        opacity: 0.5;
      }
      #mobile-menu-button-container{
        width: 100%;
        text-align: right;
        padding-left: 15px;
        padding-right: 15px;
        #mobile-menu-button {
          color: white;
          font-size: 22px;
          font-weight: bold;
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
    @media screen and (max-width: 500px) {
      #logo-spans{
        font-size: 24px;
      }
    }
  }

  #menu-container{
    width: 100%;
    background-color: white;
    overflow: auto;
    #navbar-left a {
      float: left;
    }
    #navbar-right-big a {
      float: right;
    }
    @media screen and (max-width: 500px) {
      #navbar-left a, #navbar-right-small a{
        float: none;
        display: block;
      }
    }
  }
}
