#playview{
  #search-and-sort{
    box-sizing: border-box;
    padding: 15px 0;
    border-bottom: 1px solid #bbb;
  }
  #select{
    max-height: 150px;
    overflow: scroll;
  }
  .recording-list-item{
    box-sizing: border-box;
    padding: 15px 0;
    border-bottom: 1px solid #bbb;
  }
  #playback{
  }
}