#play-view{
  display: flex;
  align-items: stretch; 
  height: 100%;
  #left{
    flex: 1 1 auto;
    #search-and-select{
      background-color: lightcoral;
      flex-direction: column;
      height: 100%;
      #search{
        box-sizing: border-box;
        padding: 15px;
        border-bottom: 1px solid #bbb;
      }
      #select{
        overflow: scroll;
        .recording-list-item{
          box-sizing: border-box;
          padding: 15px;
          border-bottom: 1px solid #bbb;
        }
      }
    }
  }

  #right{
    flex: 1 1 auto;
    #playback{
      background-color: lightblue;
      height: 100%;
      #notes{
        padding: 15px;
        border-bottom: 1px solid #bbb;
        overflow: scroll;
      }
      #transport{
        padding: 15px;
      }
    }
  }

}

.collapse{
  flex-grow: 0.001;
}