#play-view{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: 100%;
  #search-and-select{
    display: flex;
    flex-direction: column;
    height: 100%;
    #search{
      box-sizing: border-box;
      padding: 15px;
      border-bottom: 1px solid #bbb;
    }
    #select{
      overflow: scroll;
      .recording-list-item{
        box-sizing: border-box;
        padding: 15px;
        border-bottom: 1px solid #bbb;
      }
    }
  }
  #playback{
    flex: 1 0 auto; 
    display: flex;
    flex-direction: column;
    height: 100%;
    #notes{
      display: flex;
    justify-content: center;
    align-items: center;
      flex-grow: 1;
      padding: 15px;
      border-bottom: 1px solid #bbb;
      overflow: scroll;
    }
    #transport{
      padding: 15px;
    }
  }
}