// Top level grid layout
///////////////////////////////////////////////////
#play-view {
  display: grid;
  width: 100%;
  height: 92vh;
  grid-template-areas: 'head head'
                       'player sidebar'
                       'table sidebar';
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 120px 150px 1fr;
}

#head {
  // background-color: yellow;
  grid-area: head;  
  text-indent: 5px;
}

#table {
  // background-color: green;
  grid-area: table;  
  overflow: scroll;
  text-indent: 5px;
}

#sidebar {
  background-color: $well-background;
  grid-area: sidebar;  
}

// Media controls
///////////////////////////////////////////////////
#player {
  grid-area: player;
  background-color: $background-dark;
  #controls-container{
    display: grid;
    grid-template-areas: 'timeline'
                         'buttons'
                         'labels'; 
    grid-template-rows: 58px 70px;
    #timeline{
      grid-area: timeline;
      align-self: center;
      height: 20px;
      margin: 0 20px 0 20px;
      border-radius: 10px;
      background-color: inherit;
      box-shadow: inset 0 0 8px #000;
      #playhead{
        position: absolute;
        background-color: #ddd;
        margin-top: -2px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        box-shadow: 0 0 4px #000;
      }
    }
    #buttons{
      grid-area: buttons;
      width: 100%;
      #buttons-container{
        display: grid;
        margin-top: -5px;
        height: 60px;
        grid-template-areas: 'empty rewind-button play-pause-button fast-forward-button empty2 mute-button';
        grid-template-columns: 4fr 1fr 1fr 1fr 3fr 1fr;
        text-align: center;
        font-size: 14px;
        color: #ddd;
        span{
          padding-top: 4px;
        }
        .centered-glyph{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          margin-top: -1px; 
          margin-bottom: 2px;
          font-size: 24px;
        }
        #empty{
          grid-area: empty;
        }
        #empty2{
          grid-area: empty2;
        }
        #rewind-button {
          grid-area: rewind-button;
        }
        #play-pause-button {
          grid-area: play-pause-button;
        }
        #fast-forward-button {
          grid-area: fast-forward-button;
        }
        #mute-button {
          grid-area: mute-button;
          margin-right: 15%;
        }
      }
    }
  }
}

.player-button{
  align-self: center;
  justify-self: left;
  width: 50px; 
  height: 50px;
  background-color: $background-light;
  border-radius: 25px;
}
