// Page container
////////////////////////////////////////
#play-view {
  background-color: #ccc;
  display: grid;
  width: 100%;
	height: 92vh;
  grid-template-areas: "head head"
                       "table filters"
                       "player filters";
  grid-template-columns: 3fr 1fr;
}

// Grid containers
////////////////////////////////////////

#recording-header {
  background-color: #ddd;
	grid-area: head;
}

#player-controls {
  background-color: #edf;
	grid-area: player;
}

#player-tag-table {
  background-color: #fef;
	grid-area: table;
}

#player-sidebar{
  background-color: #efe;
	grid-area: filters;
}

// Styles
////////////////////////////////////////
