#play-pause-text {
  color: white;
}

.tag-toggle {
  margin: 10px;
}

#filter-description {
  margin: 5px 0;
  color: #333;
  font-size: 18px;
}

#tag-filters {
  margin: 20px;
  margin-top: 0px;
}

#filter-help-link {
  cursor: pointer;
}

#clear-filters {
  cursor: pointer;
  margin-left: 10px;
}

#media-controls {
  margin-top: 15px;
}
