#play-view{
  display: flex;
  align-items: stretch; 
  height: 100%;

  #left{
    background-color: #fee;
    flex-grow: 1;
    overflow: hidden;
    transition-duration: 300ms;
    #search-and-select{
      background-color: #fee;
      height: 100%;
      overflow: scroll;
      #search{
        box-sizing: border-box;
        padding: 15px;
        border-bottom: 1px solid #bbb;
      }
      #select{
        .recording-list-item{
          box-sizing: border-box;
          padding: 15px;
          border-bottom: 1px solid #bbb;
        }
      }
    }
  }

  #right{
    background-color: red;
    flex-grow: 1;
    overflow: hidden;
    transition-duration: 300ms;
    height: 100%;
    #header{
      background-color: #fcc;
    }
    #notes{
      background-color: #eef;
      padding: 15px;
      border-bottom: 1px solid #bbb;
      overflow: scroll;
    }
    #player{
      background-color: #ddf;
      padding: 15px;
    }
  }

}

//   #right{
//     // flex-grow: 0;
//     flex-grow: 1;
//     overflow: hidden;
//     transition-duration: 300ms;
//     #playback{
//       height: 100%;
//       #notes{
//         background-color: #eef;
//         padding: 15px;
//         border-bottom: 1px solid #bbb;
//         overflow: scroll;
//       }
//       #transport{
//         background-color: #ddf;
//         padding: 15px;
//       }
//     }
//   }

// }