// Top level grid layout
///////////////////////////////////////////////////
#play-view {
  display: grid;
  width: 100%;
  height: 720px;
  grid-template-areas: 'head head'
                       'table sidebar'
                       'player sidebar';
  grid-template-columns: 3fr 1fr;
  // TODO: Fix the table height bug
  grid-template-rows: 60px 1fr 150px;
}

#head {
  grid-area: head;  
  text-indent: 5px;
}

#tag-table {
  grid-area: table;  
  overflow: scroll;
  border-collapse: collapse;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  table {
    width: 100%;
    position: relative;
    border-collapse: collapse;
    border: none;
    overflow: scroll;
    td {
      padding: 15px;
    }
    thead th{
      position: sticky; top: 0;
      background: $background-dark;
      color: #ddd;
      text-align: left;
      padding-left: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .highlighted-cell{
    background-color: $light-highlight;
  };
  .even-row{
    background-color: $table-row-dark
  }
  .odd-row{
    background-color: $table-row-light
  }
  .tag-row{
    &:hover{
      background: $light-highlight;
      cursor: pointer;
    }
  }
  .tag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 50px;
    padding-left: 10px;
    border-radius: 3px;
  }
  .link{
    z-index: 10;
    padding: 8px;
    border-radius: 3px;
    font-size: 18px;
    color: $color-link-text;
    background-color: $background-light;
    &:hover{
      cursor: pointer;
      color: #fff;
      background-color: $background-very-light;
    }
  }
}

#sidebar {
  background-color: $well-background;
  grid-area: sidebar;  
  #filter-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    #filter-header{
      display: flex;
      flex-direction: column;
      align-items: left;
      width: 300px;
      #select-topics{
        display: flex;
        width: 300px;
        margin-bottom: 10px;
        font-size: 30px;
        color: rgb(74, 164, 156);
      }
    }
    .filter-button {
      display: flex;
      flex-direction: row;
      justify-items: left;
      align-items: center;
      width: 300px;
      height: 50px;
      margin-bottom: 10px;
      padding-left: 10px;
      border-radius: 3px;
      &:hover{
        cursor: pointer;
      }
      .filter-check{
        display: flex;
        justify-content: center;
        align-content: left;
        height: 24px;
        width: 40px;
        border-radius: 12px;
        background-color: $background-light;
        font-size: 18px;
        fill: #fff;
      }
      .filter-label{
        display: flex;
        justify-content: center;
        align-content: left;
        padding-left: 10px;
      }
    }
  }
  #show-all-topics{
    display: flex;
    justify-content: center;
    width: 300px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 3px;
    border-radius: 3px;
    font-size: 18px;
    color: #fff;
    background-color: $background-light;
    &:hover{
      cursor: pointer;
    }
  }
}

// Media controls
///////////////////////////////////////////////////
#player {
  grid-area: player;
  background-color: $background-dark;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  #controls-container{
    display: grid;
    grid-template-areas: 'timeline'
                         'buttons';
    grid-template-rows: 58px 110px;
    #timeline{
      grid-area: timeline;
      align-self: center;
      height: 20px;
      margin: 0 20px 0 20px;
      border-radius: 10px;
      background-color: inherit;
      box-shadow: inset 0 0 8px #000;
      #progress-bar{
        position: absolute;
        height: 16px;
        margin: 2px 0 0 2px;
        border-radius: 10px;
        background-color: $background-light;
      }
      #playhead{
        background-color: #ddd;
        margin-top: -2px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        box-shadow: 0 0 4px #000;
      }
      #time{
        margin-top: 30px;
        height: 25px;
        width: 100%;
        #current-time{
          display: inline-block;
          color: #ddd;
        }
        #duration{
          display: inline-block;
          color: #ddd;
          float: right;
        }
      }
    }
    #buttons-container{
      grid-area: buttons;
      width: 100%;
      display: grid;
      justify-content: center;
      align-content: flex-start;
      grid-template-areas: 'rewind-button back-button play-pause-button forward-button mute-button';
      grid-template-columns: '400px 1fr 1fr 1fr 1fr 1fr 1fr 400px';
      text-align: center;
      font-size: 14px;
      color: #ddd;
      .centered-glyph{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        margin-top: -1px; 
        margin-bottom: 2px;
        font-size: 24px;
        fill: #fff;
      }
      #rewind-button { grid-area: rewind-button; }
      #back-button { grid-area: back-button; }
      #play-pause-button { grid-area: play-pause-button; }
      #forward-ten-button { grid-area: forward-button; }
      #mute-button { grid-area: mute-button; margin-right: 15%; }
      .player-button{
        display: inline;
        align-self: center;
        justify-self: left;
        width: 50px; 
        height: 50px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 5px;
        overflow-x: visible;
        background-color: $background-light;
        border-radius: 25px;
        .svg{
          width: inherit;
          height: inherit;
          height: 30px;
          width: 30px;
        }
        .sv-_path{
          fill: #fff;
        }
        .button-label{
          display: inline-block;
          margin-left: -2px;
          padding-top: 7px;
          font-size: 16px;
        }
      }
    }
  }
}

.filter-1{background-color: $filter-color-1;}
.filter-2{background-color: $filter-color-2;}
.filter-3{background-color: $filter-color-3;}
.filter-4{background-color: $filter-color-4;}
.filter-5{background-color: $filter-color-5;}
.filter-6{background-color: $filter-color-6;}
.filter-7{background-color: $filter-color-7;}
.filter-8{background-color: $filter-color-8;}
