// Page container
////////////////////////////////////////
#play-view {
  background-color: #daa;
  display: grid;
  width: 100%;
	height: 92vh;
  grid-template-areas: 'head head'
                       'table filters'
                       'player filters';
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 100px 1fr 100px;
}

// Grid containers
////////////////////////////////////////
#recording-header {
  background-color: #ddd;
	grid-area: head;
}

#player-controls {
  background-color: #555;
	grid-area: player;
  #playhead-container{
    top: 50%;
    height: 20px;
    border-radius: 10px;
    margin: 25px 20px 0px 20px;
    background-color: inherit;
    box-shadow: inset 0 0 8px #000;
  }
}

#player-tag-table {
  background-color: #fef;
	grid-area: table;
  overflow: scroll;
}

#player-sidebar{
  background-color: #efe;
	grid-area: filters;
}

// Styles
////////////////////////////////////////
