#play-view {
  display: grid;
  width: 100%;
	height: 90vh;
  grid-template-areas: "head head"
                       "player filters"
                       "table filters";
  grid-template-columns: 3fr 1fr;
}

#recording-header {
  background-color: #ded;
	grid-area: head;
}

#player-controls {
  background-color: #dde;
	grid-area: player;
}

#player-tag-table {
  background-color: #edd;
	height: 450px;
	overflow: auto;
	grid-area: table;
}

#player-sidebar{
  background-color: #ddd;
	grid-area: filters;
}

#play-pause-text {
  color: white;
}

.tag-toggle {
  margin: 10px;
}

#filter-description {
  margin: 5px 0;
  color: #333;
  font-size: 18px;
}

#tag-filters {
  margin: 20px;
  margin-top: 0px;
}

#filter-help-link {
  margin-left: 10px;
  margin-right: 50px;
  cursor: pointer;
}

#clear-filters {
  cursor: pointer;
}

#media-controls {
  margin-top: 15px;
  margin-left: 450px;
  height: 65px;
}

#playaudio {
  width: 80px;
}

#stepbackward {
  border-right: 2px solid white;
  border-radius: 10px 0 0 10px;
}

#playaudio {
  border-right: 2px solid white;
}

#stepforward {
  border-radius: 0 10px 10px 0;
}

.playtabletop {
  padding-bottom: 50px;
}
