#play-view {
  background-color: #daa;
  display: grid;
  width: 100%;
	height: 92vh;
  grid-template-areas: 'head head'
                       'player filters'
                       'table filters';
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 120px 120px 1fr;
}

#recording-header {
  background-color: #ddd;
	grid-area: head;  
}

#player {
	grid-area: player;
  background-color: #555;
  margin-bottom: 4px;
  box-shadow: 0 4px 2px 0 #333;
  #controls-container{
    display: grid;
    grid-template-areas: 'timeline'
                         'buttons'; 
    grid-template-rows: 60px 60px;
    #timeline{
      grid-area: timeline;
      top: 50%;
      height: 20px;
      border-radius: 10px;
      margin: 25px 20px 0px 20px;
      background-color: inherit;
      box-shadow: inset 0 0 8px #000;
      #playhead{
        position: absolute;
        background-color: #ddd;
        margin-top: -2px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        box-shadow: 0 0 4px #000;
      }
    }
    #buttons{
      grid-area: buttons;
      width: 100%;
      height: 60px;
      #buttons-container{
        display: grid;
        grid-template-areas: 'rewind play-pause fast-forward mute';
        grid-template-columns: 1fr 1fr 1fr 1fr;
        #play-pause-button {
          grid-area: play-pause;
          text-align: center;
          width: 50px;
          height: 50px;
          background-color: #888;
          border-radius: 25px;
        }
      }
    }
  }
}
