// #audio-view-hide-tags {
//   display: grid;
//   grid-template-areas:
//     "head"
//     "player";
//   grid-template-rows: auto auto;
//   @include header;
//   @include controls;
// }

@mixin checkbox {
  display: flex;
  justify-content: center;
  align-content: left;
  align-items: center;
  height: 18px;
  width: 18px;
  border-radius: 5px;
  fill: $background-light;
  padding-right: 2px;
  padding-bottom: 3px;
  background-color: white;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

// Used in more than one section
//////////////////////////////////////////////////////////////////////////////////////////////////
.user-field-container {
  display: flex;
  margin-bottom: 13px;
  color: $background-dark;
  .user-field-label {
    padding-top: 8px;
    padding-left: 60px;
  }
  .user-field-content {
    background-color: #fff;
    margin-left: 5px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid $background-light;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: #333;
    font-size: 16px;
    word-wrap: break-word;
  }
  .save,
  .cancel {
    color: $background-light;
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
  }
  .no-input {
    margin-left: 0;
    border: none;
    background: none;
    font-size: 18px;
  }
}

@mixin header {
  #header-container {
    grid-area: head;
    #header {
      display: flex;
      width: 100%;
      padding-top: 13px;
      #title {
        color: $background-light;
        font-size: 26px;
      }
    }
  }
}

@mixin controls {
  #player {
    grid-area: player;
    background-color: $background-light;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    #controls-container {
      display: grid;
      grid-template-areas:
        "timeline"
        "buttons";
      grid-template-rows: 58px 110px;
      #timeline {
        grid-area: timeline;
        align-self: center;
        height: 16px;
        margin: 0 20px 0 20px;
        border-radius: 8px;
        background-color: #bbc8da;
        // box-shadow: inset 0 0 8px #000;
        #progress-bar {
          position: absolute;
          height: 16px;
          border-radius: 8px;
          background-color: $background-very-light;
        }
        #playhead {
          background-color: #eee;
          margin-top: -9px;
          width: 34px;
          height: 34px;
          border-radius: 50%;
          // box-shadow: 0 0 4px #000;
        }
        #time {
          margin-top: 15px;
          height: 25px;
          width: 100%;
          #current-time {
            display: inline-block;
            color: white;
          }
          #duration {
            display: inline-block;
            color: white;
            float: right;
          }
        }
      }
      #buttons-container {
        grid-area: buttons;
        width: 100%;
        display: grid;
        justify-content: center;
        align-content: flex-start;
        grid-template-areas: "rewind-button back-button play-pause-button forward-button mute-button";
        grid-template-columns: "400px 1fr 1fr 1fr 1fr 1fr 1fr 400px";
        text-align: center;
        font-size: 14px;
        color: #ddd;
        .centered-glyph {
          font-family: FontAwesome;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 60px;
          height: 60px;
          margin-top: -1px;
          margin-bottom: 2px;
          font-size: 30px;
          fill: #fff;
          color: white;
        }
        #rewind-button {
          grid-area: rewind-button;
        }
        #back-button {
          grid-area: back-button;
        }
        #play-pause-button {
          grid-area: play-pause-button;
        }
        #forward-ten-button {
          grid-area: forward-button;
        }
        #mute-button {
          grid-area: mute-button;
          margin-right: 15%;
        }
        .player-button {
          display: inline;
          align-self: center;
          justify-self: left;
          width: 50px;
          height: 50px;
          padding-left: 20px;
          padding-right: 20px;
          margin-left: 15px;
          margin-right: 15px;
          margin-bottom: 5px;
          overflow-x: visible;
          border-radius: 25px;
          .button-label {
            display: inline-block;
            margin-left: -2px;
            padding-top: 7px;
            font-size: 16px;
            color: white;
          }
        }
      }
    }
    #click-any-row {
      padding-top: 5px;
      padding-bottom: 10px;
      text-align: center;
      color: $background-very-light;
    }
  }
}

@mixin tag-table {
  #tag-table {
    grid-area: table;
    position: relative;
    overflow-y: scroll;
    border-collapse: collapse;
    border-top: 1px solid $well-background;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    table {
      min-height: 0;
      max-height: 100%;
      width: 100%;
      border-collapse: collapse;
      border: none;
      tbody {
        overflow: scroll;
        min-height: 0;
        max-height: 100%;
      }
      td {
        padding: 15px;
      }
      thead th {
        position: sticky;
        top: 0;
        background: $background-light;
        color: white;
        height: 30px;
        text-align: left;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        &:first-child {
          border-top-left-radius: 5px;
        }
        &:last-child {
          border-top-right-radius: 5px;
        }
      }
      tr#empty-result-message {
        td {
          padding-top: 50px;
          font-size: 24px;
          color: $background-dark;
        }
      }
    }
    .tag-row-hover {
      &:hover {
        background: $highlight-hover;
        cursor: pointer;
      }
    }
    .annotation-list {
      min-height: 100%;
      .tag-container {
        display: flex;
        justify-content: flex-start;
        .tag {
          line-height: 40px;
          flex-direction: column;
          justify-content: center;
          padding-left: 10px;
          .category {
            color: $background-light;
            font-weight: 600;
          }
          .concept {
            color: $background-light;
          }
        }
      }
    }
    .link {
      z-index: 10;
      display: inline-block;
      padding: 0 15px 15px 15px;
      margin-right: 10px;
      margin-bottom: 10px;
      font-size: 16px;
      color: white;
      background-color: $background-light;
      text-decoration: none;
      border-radius: 30px;
      &:hover {
        cursor: pointer;
        background-color: $background-very-light;
      }
    }
  }
}

@mixin sidebar {
  #sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .filter-header {
      width: 400px;
      margin: auto;
      height: 24px;
      font-size: 24px;
      font-weight: 600;
      color: $background-light;
      padding-bottom: 5px;
    }
    .filter-sub-header {
      width: 400px;
      margin: 0 auto 10px auto;
      font-size: 16px;
      color: $background-light;
      font-style: italic;
    }
    #search-container {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      width: 400px;
      padding-bottom: 10px;
      margin: 0 auto;
      border-radius: 5px;
      #search-input {
        display: flex;
        width: 390px;
        margin: 0 0 30px 0;
        padding: 5px;
        border-radius: 5px;
        border-style: solid;
        border: 1px solid $background-light;
        line-height: 25px;
        box-shadow: none;
        font-size: 18px;
      }
      #search-icon {
        position: absolute;
        color: $background-light;
        top: 10px;
        left: 10px;
      }
      #close-icon {
        position: absolute;
        color: $background-light;
        top: 8px;
        left: 374px;
        font-size: 22px;
      }
    }
    #filter-container {
      display: flex;
      flex-direction: column;
      flex-grow: 2;
      width: 400px;
      margin: 0 auto 0 auto;
      overflow-x: hidden;
      overflow-y: scroll;
      font-size: 16px;
      #filters {
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
        overflow-y: scroll;
        // box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        .filter {
          display: flex;
          flex-direction: column;
          margin-bottom: 25px;
          .category-container {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            .expand-category {
              width: 100px;
              transform: translateY(3px);
              &:hover {
                cursor: pointer;
                color: $background-very-light;
                fill: $background-very-light;
                color: $background-very-light;
              }
              color: $background-light;
              fill: $background-light;
              .expand-svg {
                height: 25px;
                width: 25px;
              }
              .expand-label {
                display: inline-block;
                transform: translateY(-8px);
              }
            }
            .filter-button {
              display: flex;
              justify-items: left;
              align-items: center;
              padding-left: 10px;
              border-radius: 5px;
              &:hover {
                cursor: pointer;
              }
              .filter-check {
                @include checkbox;
              }
              .filter-label {
                display: flex;
                justify-content: center;
                align-content: left;
                margin-left: 10px;
                padding: 5px 10px 5px 10px;
                background-color: white;
                border: 1px solid $background-light;
                border-radius: 15px;
                user-select: none;
                .filter-label-text {
                  padding-left: 10px;
                  height: 20px;
                  line-height: 22px;
                }
              }
            }
          }
          .concepts-container {
            .concept-container {
              display: flex;
              justify-content: space-between;
              padding: 10px 0 0 70px;
              .concept-filter {
                display: flex;
                justify-content: space-between;
                .concept-check {
                  @include checkbox;
                  &:hover {
                    cursor: pointer;
                  }
                }
                .concept-label {
                  flex-grow: 2;
                  line-height: 26px;
                  padding-left: 10px;
                  user-select: none;
                  &:hover {
                    cursor: pointer;
                  }
                }
              }
              .concept-link {
                padding-right: 10px;
                line-height: 26px;
                color: $background-light;
                text-decoration: underline;
                &:hover {
                  cursor: pointer;
                  color: $background-very-light;
                }
              }
            }
          }
        }
      }
    }
    #show-all-topics {
      align-self: center;
      width: 150px;
      height: 50px;
      margin-top: 15px;
      text-align: center;
      line-height: 50px;
      border-radius: 25px;
      font-size: 18px;
      color: #fff;
      background-color: $background-light;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.play-pause-label {
  width: 50px;
  margin-top: 12px;
  text-align: center;
}

.filter-1 {
  background-color: $filter-color-1;
}
.filter-2 {
  background-color: $filter-color-2;
}
.filter-3 {
  background-color: $filter-color-3;
}
.filter-4 {
  background-color: $filter-color-4;
}
.filter-5 {
  background-color: $filter-color-5;
}
.filter-6 {
  background-color: $filter-color-6;
}
.filter-7 {
  background-color: $filter-color-7;
}
.filter-8 {
  background-color: $filter-color-8;
}

// Top level grid layout
//////////////////////////////////////////////////////////////////////////////////////////////////
#audio-view {
  display: grid;
  grid-template-areas:
    "head head"
    "table sidebar"
    "player sidebar";
  grid-template-rows: auto minmax(0, 1fr) auto;
  grid-template-columns: 9fr 4fr;
  min-height: 0;
  height: 100%;
  @include header;
  @include controls;
  @include tag-table;
  @include sidebar;
}

.filter-circle {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.time-link-container {
  .time-link {
    display: inline-block;
    color: $background-light;
    font-weight: 600;
    text-decoration: underline;
  }
  .big-play-button {
    display: inline-block;
    box-sizing: border-box;
    height: 38px;
    width: 38px;
    padding-top: 2px;
    padding-left: 2px;
    line-height: 38px;
    text-align: center;
    margin-left: 30px;
    border-radius: 19px;
    background-color: $background-light;
    color: white;
    font-size: 20px;
  }
}

.mirror-horiz {
  transform: scale(-1, 1);
}

#summary-container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  min-height: 600px;
  width: 80%;
  max-width: 700px;
  border-radius: 5px;
  #close-summary {
    position: absolute;
    top: 17px;
    right: 17px;
    font-size: 30px;
    color: white;
    &:hover {
      cursor: pointer;
      color: $background-very-light;
    }
  }
  #summary-title {
    background-color: $background-light;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 100px;
    // padding: 20px 0 0 20px;
    padding-left: 40px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    #summary-title-text {
      // background-color: #ddd;
      font-size: 36px;
      color: white;
    }
  }
  #summary {
    justify-self: flex-start;
    align-self: center;
    flex-grow: 2;
    max-height: 500px;
    box-sizing: border-box;
    margin: 40px 40px 0 40px;
    padding: 20px;
    line-height: 28px;
    color: #444;
    overflow-y: scroll;
    box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  }
  #concept-link {
    // background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    #concept-link-text {
      box-sizing: border-box;
      align-self: center;
      height: 50px;
      padding: 0 20px 0 20px;
      margin-top: 15px;
      text-align: center;
      line-height: 50px;
      border-radius: 25px;
      font-size: 18px;
      color: #fff;
      background-color: $background-light;
      &:hover {
        cursor: pointer;
        background-color: $background-very-light;
      }
    }
  }
}

.plain-link {
  text-decoration: none;
}

.shift-left {
  transform: translateX(-14px);
}

.shift-right {
  transform: translateX(10px);
}

.grayout {
  color: #999 !important;
  fill: #999 !important;
  border-color: #999 !important;
}

.gray-background {
  background-color: #aaa !important;
}

#editing-container {
  display: flex;
  flex-direction: column;
  .edit-row {
    display: flex;
    padding: 6px 0 0 35px;
    color: rgba(255, 0, 0, 0.7);
    .edit-check {
      @include checkbox;
      background-color: rgba(255, 0, 0, 0.5);
      margin-right: 8px;
      transform: translateY(-3px);
      &:hover {
        background-color: rgba(255, 0, 0, 0.3);
        cursor: pointer;
      }
    }
  }
}
