// Page container
////////////////////////////////////////
#play-view {
  background-color: #daa;
  display: grid;
  width: 100%;
	height: 92vh;
  grid-template-areas: 'head head'
                       'player filters'
                       'table filters';
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 100px 100px 1fr;
}

// Grid containers
////////////////////////////////////////
#recording-header {
  background-color: #ddd;
	grid-area: head;
}

#player-controls {
  background-color: #555;
	grid-area: player;
  #timeline{
    top: 50%;
    height: 20px;
    border-radius: 10px;
    margin: 25px 20px 0px 20px;
    background-color: inherit;
    box-shadow: inset 0 0 8px #000;
    #playhead{
      position: absolute;
      background-color: #ddd;
      margin-top: -2px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      box-shadow: 0 0 4px #000;
    }
  }
}

#player-tag-table {
  background-color: #fef;
	grid-area: table;
  overflow: scroll;
}

#player-sidebar{
  background-color: #efe;
	grid-area: filters;
}

// Styles
////////////////////////////////////////
