#play-view{
  display: flex;
  align-items: stretch; 
  height: 100%;

  #left{
    background-color: #fee;
    flex-grow: 1;
    overflow: hidden;
    transition-duration: 300ms;
    #search-and-select{
      background-color: #fee;
      height: 100%;
      overflow: scroll;
      #search{
        box-sizing: border-box;
        padding: 15px;
        border-bottom: 1px solid #bbb;
      }
      #select{
        .recording-list-item{
          box-sizing: border-box;
          padding: 15px;
          border-bottom: 1px solid #bbb;
        }
      }
    }
  }

  #right{
    background-color: red;
    flex-grow: 1;
    overflow: hidden;
    transition-duration: 300ms;
    height: 100%;
    #player-container{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      #header{
        background-color: #fcc;
        padding: 15px;
      }
      #notes{
        flex-grow: 1;
        background-color: #eef;
        padding: 15px;
        border-bottom: 1px solid #bbb;
        overflow: scroll;
      }
      #player{
        background-color: #ddf;
        padding: 15px;
        #timeline-container{
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          background-color: #cfc;
          #timeline{
            background-color: green;
          }
          #progress-bar{
            background-color: red;
          }
          #playhead{
            background-color: blue;
          }
        }
        #time{
          background-color: orange;
        }
        #buttons-container{
          .player-button{
            display: inline-block;
          }
        }
      }
    }
  }

}
