#player-controls{
  $bg-color: #555;
  $transport-padding: 10px;
  $playhead-container-height: 20px;
    
  position: relative;

  #transport-area{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: $transport-padding;
    background-color: $bg-color;
  }

  #playhead-container{
    position: absolute;
    height: $playhead-container-height;
    width: 100%;
    top: 50%;
    margin-top: -( ($player-height - 2 * $transport-padding) / 2);
    border-radius: $playhead-container-height / 2;
    background-color: $bg-color;
    box-shadow: inset 0 0 8px #000;
  }
}
