#play-view{
  display: flex;
  align-items: stretch; 
  height: 100%;

  #left{
    background-color: #fee;
    flex-grow: 1;
    overflow: hidden;
    transition-duration: 300ms;
    #search-and-select{
      background-color: #fee;
      height: 100%;
      overflow: scroll;
      #search{
        box-sizing: border-box;
        padding: 15px;
        border-bottom: 1px solid #bbb;
      }
      #select{
        .recording-list-item{
          box-sizing: border-box;
          padding: 15px;
          border-bottom: 1px solid #bbb;
        }
      }
    }
  }

  #right{
    background-color: red;
    flex-grow: 1;
    overflow: hidden;
    transition-duration: 300ms;
    height: 100%;
    #player-container{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      #header{
        background-color: #fcc;
        padding: 15px;
      }
      #notes{
        flex-grow: 1;
        background-color: #eef;
        padding: 15px;
        border-bottom: 1px solid #bbb;
        overflow: scroll;
      }
      #player{
        background-color: #ddf;
        padding: 15px;
        #timeline-container{
          position: relative;
          width: 100%;
          height: $timeline-container-height;
          background-color: yellow;
          #timeline{
            background-color: green;
            width: 100%;
            height: $timeline-thickness;
            position: absolute;
            top: calc((#{$timeline-container-height} / 2.0) - (#{$timeline-thickness}) / 2.0); 
            border-radius: $timeline-thickness;
          }
          #progress-bar{
            background-color: red;
            position: absolute;
          }
          #playhead{
            background-color: blue;
            position: absolute;
            width: calc(#{$playhead-radius} * 2.0);
            height: calc(#{$playhead-radius} * 2.0);
            border-radius: $playhead-radius;
            top: calc((#{$timeline-container-height} / 2.0) - #{$playhead-radius}); 
          }
        }
        #time{
          background-color: orange;
        }
        #buttons-container{
          padding-top: 15px;
          .player-button{
            display: inline-block;
          }
        }
      }
    }
  }

}
