#play-view{
  display: flex;
  flex-grow: 1;
  #left{
    flex-grow: 1;
    overflow: hidden;
    transition-duration: 300ms;
    #search-and-select{
      padding: 15px;
      box-sizing: border-box;
      overflow: scroll;
      #search{
        box-sizing: border-box;
        border-bottom: 1px solid #bbb;
      }
      #select{
        .recording-list-item{
          box-sizing: border-box;
          border-bottom: 1px solid #bbb;
        }
      }
    }
  }
  #right{
    display: flex;
    flex-grow: 1;
    transition-duration: 300ms;
    #player-container{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      padding: 15px;
      box-sizing: border-box;
      #header{
      }
      #notes{
        flex-grow: 1;
        // border-bottom: 1px solid #bbb;
        overflow: scroll;
      }
      #player{
        #timeline-container{
          position: relative;
          width: 100%;
          box-sizing: border-box;
          margin-top: 20px;
          margin-bottom: 50px;
          #timeline{
            background-color: $color-6;
            width: 100%;
            height: $timeline-thickness;
            position: absolute;
            top: calc(#{$playhead-radius} - #{$timeline-thickness} / 2);
            border-radius: $timeline-thickness;
          }
          #progress-bar{
            background-color: $color-4;
            position: absolute;
            height: $timeline-thickness;
            pointer-events: none;
            top: calc(#{$playhead-radius} - #{$timeline-thickness} / 2);
            border-top-left-radius: $playhead-radius;
            border-bottom-left-radius: $playhead-radius;
          }
          #playhead{
            background-color: $color-3;
            position: absolute;
            width: calc(#{$playhead-radius} * 2.0);
            height: calc(#{$playhead-radius} * 2.0);
            top: 0;
            transition-timing-function: linear;
            border-radius: $playhead-radius;
          }
        }
        #time{
          display: flex;
          justify-content: space-between;
          padding-bottom: 10px;
          font-size: 14px;
        }
        #player-button-container{
          display: flex;
          justify-content: space-between;
          max-width: 350px;
          margin-left: auto;
          margin-right: auto;
          // padding-top: 10px;
          .player-button{
            width: $player-button-container-width;
            height: $player-button-container-height;
            border-radius: 3px;
            &:hover{
              cursor: pointer;
            }
            .player-button-svg{
              margin-left: calc((#{$player-button-container-width} - #{$player-button-edge-length}) / 2);
              padding-top: 3px;
              height: $player-button-edge-length;
              width: $player-button-edge-length;
              fill: $color-2;
            }
            .player-button-label{
              font-size: 13px;
              text-align: center;
            }
          }
        }
      }
    }
  }

}
