#play-view{
  display: flex;
  flex-grow: 1;
  #left{
    flex-grow: 1;
    min-width: 100%;
    overflow: scroll;
    transform-origin: top left;
    transition-duration: 300ms;
    #search-and-select{
      padding: 15px;
      box-sizing: border-box;
      #select-header{
        box-sizing: border-box;
        padding-top: 10px;
        padding-bottom: 20px;
        text-align: center;
        font-size: 20px;
        color: $color-2;
        border-bottom: 1px solid #bbb;
      }

      // TODO: Implement
      // #search{
      //   box-sizing: border-box;
      //   border-bottom: 1px solid #bbb;
      //   overflow: hidden;
      // }

      #select{
        .recording-list-item{
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          box-sizing: border-box;
          padding-top: 15px;
          padding-bottom: 10px;
          border-bottom: 1px solid #bbb;
          &:hover{
            cursor: pointer;
          }
          .recording-title{
            padding-bottom: 5px; 
          }
          .recording-date{
            text-align: right;
            padding-bottom: 5px; 
          }
          .recording-days-ago{
            text-align: right;
          }
        }
      }
    }
  }
  #right{
    display: flex;
    flex-grow: 1;
    max-height: 100%;
    overflow: hidden;
    transform-origin: top right;
    transition-duration: 300ms;
    #player-container{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      padding: 15px;
      box-sizing: border-box;
      #header{
        border-bottom: 1px solid $color-4;
        display: flex;
        justify-content: space-between;
        padding-top: 7px;
        padding-bottom: 8px;
        color: $color-1;
        #header-left{
          &:hover {
            cursor: pointer;
          }
          #recording-title{
            padding-bottom: 3px;
            font-size: 18px;
            font-weight: 600;
          }
          #metadata-edit-icon{
            #recording-provider{
              display: inline-block;
              transform: translateY(-6px);
              font-size: 16px;
              font-style: italic;
            }
          }
        }
        #header-right{
          text-align: right;
          #recording-date{
            padding-bottom: 5px;
            font-size: 18px;
            font-weight: 600;
          }
          #recording-days-ago{
            transform: translateY(5px);
            font-size: 16px;
            font-style: italic;
          }
        }
      }
      #notes{
        // background-color: green;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        padding-top: 7px;
        padding-bottom: 8px;
        color: $color-1;
        overflow: scroll;
        #notes-container{
          // background-color: yellowgreen;
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          #notes-header{
            // background-color: pink;
            font-size: 24px;
            padding-top: 10px;
          }
          .note{
            // background-color: yellow;
            padding-top: 10px;
          }
        }
        #no-notes{
          width: 100%;
          align-self: center;
          text-align: center;
        }
      }
      #player{
        #timeline-container{
          position: relative;
          width: 100%;
          box-sizing: border-box;
          margin-top: 20px;
          margin-bottom: 50px;
          #timeline{
            background-color: $color-6;
            width: 100%;
            height: $timeline-thickness;
            position: absolute;
            top: calc(#{$playhead-radius} - #{$timeline-thickness} / 2);
            border-radius: $timeline-thickness;
          }
          #progress-bar{
            background-color: $color-4;
            position: absolute;
            height: $timeline-thickness;
            pointer-events: none;
            top: calc(#{$playhead-radius} - #{$timeline-thickness} / 2);
            border-top-left-radius: $playhead-radius;
            border-bottom-left-radius: $playhead-radius;
          }
          #playhead{
            background-color: $color-3;
            position: absolute;
            width: calc(#{$playhead-radius} * 2.0);
            height: calc(#{$playhead-radius} * 2.0);
            top: 0;
            transition-timing-function: linear;
            border-radius: $playhead-radius;
          }
        }
        #time{
          display: flex;
          justify-content: space-between;
          padding-bottom: 10px;
          font-size: 14px;
        }
        #player-button-container{
          display: flex;
          justify-content: space-between;
          max-width: 350px;
          margin-right: auto;
          margin-left: auto;
          @mixin player-button{
            // border: 2px solid $color-7;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: $player-button-container-width;
            height: $player-button-container-height;
            border-radius: 3px;
            &:hover{
              cursor: pointer;
            }
            // Player button icons
            // TODO: Brittle. Magic tanslate number centers left icon over label
            //       Icon and label should have their own container div
            .player-button-svg{
              padding: 3px, 0;
              height: $player-button-edge-length;
              width: $player-button-edge-length;
              fill: $color-2;
            }
            .player-button-svg-left{
              padding: 3px, 0;
              height: $player-button-edge-length;
              width: $player-button-edge-length;
              fill: $color-2;
              align-self: flex-start;
              transform: translate(5px, 0);
            }
            .player-button-svg-right{
              padding: 3px, 0;
              height: $player-button-edge-length;
              width: $player-button-edge-length;
              fill: $color-2;
              align-self: flex-end;
            }
            // Player button labels
            // TODO: Brittle. Magic tanslate number centers right label under icon
            .player-button-label{
              font-size: 13px;
            }
            .player-button-label-left{
              font-size: 13px;
              align-self: flex-start;
            }
            .player-button-label-right{
              font-size: 13px;
              align-self: flex-end;
              transform: translate(-5px, 0);
            }

          }
          .player-button{
            @include player-button;
          }
          .player-button-left, .player-button-right{
            @include player-button;
            width: 16%;
          }
        }
      }
    }
    #toolbar{
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      div{
        &:hover{
          cursor: pointer;
        }
      }
    }
  }

}
