#record-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

@keyframes color {
  0% {
    border-color: #ccc;
  }
  50% {
    border-color: #d93941;
  }
  100%{
    border-color: #ccc;
  }
}

#upload-text{
	color: #fff;
}

#audio-meter{
  width: 400px;
  height: 400px;
  border-radius: 200px;
}

#meter-label{
  display: block;
  width: 140px;
  height: 30px;
  margin: 0 auto;
  padding-top: 10px;
	background-color: white;
  text-align: center;
  color: #ccc;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.record-button-label{
  margin-top: -30px;
}

#time-display{
  height: 100px;
  width: 320px;
  margin: 0 auto;
  line-height: 100px;
  text-align: center;
  font-family: Courier;
  font-size: 30px;
  color: #d93941
}
