#audio-meter{
  display: block;
  width: 320px;
  height: 200px;
  margin: 0 auto;
	background-color: #555;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

#meter-label{
  display: block;
  width: 320px;
  height: 30px;
  margin: 0 auto;
  padding-top: 10px;
	background-color: #555;
  text-align: center;
  color: #fff;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.record-button-label{
  margin-top: -30px;
}
