@keyframes color {
  0% {
    border-color: #ccc;
  }
  50% {
    border-color: #d93941;
  }
  100%{
    border-color: #ccc;
  }
}

#upload-text{
	color: #fff;
}
#record-container{
  // background-color: yellowgreen;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  #audio-meter{
    min-height: 350px;
  }

  .record-button{
    display: inline-block;
    box-sizing: border-box;
    width: 190px;
    height: 60px;
    margin-bottom: 10px;
    background-color: $color-2;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 4px;
    &:hover{
      cursor: pointer;
      background-color: $color-3;
    }
    &:active{
    background-color: $color-4;
    }
  }

  #record-buttons-container{
    // background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #record-decision-container{
    // background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .record-button-label{
    display: inline-block;
    box-sizing: border-box;
  }

  #time-display{
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    color: #d93941
  }

}