@keyframes color {
  0% {
    border-color: #ccc;
  }
  50% {
    border-color: #d93941;
  }
  100%{
    border-color: #ccc;
  }
}

#upload-text{
	color: #fff;
}

#record-container{
  // background-color: red;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  #audio-meter{
    // background-color: yellowgreen;
    flex-grow: 1;
    min-height: 360px;
    width: 100%;
  }

  @mixin record-button-base{
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 100px;
    padding: 10px;
    background-color: $color-2;
    font-size: 16px;
    color: white;
    border-radius: 25px;
  }

  #buttons-and-time{
    // background-color: yellowgreen;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    #record-buttons-container{
      // background-color: yellowgreen;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      padding-bottom: 30px;
      .record-button{
        @include record-button-base;
        display: flex;
      }
      .record-button-hidden{
        @include record-button-base;
        display: none;
      }
      .record-button, .record-button-hidden{
        .record-svg{
          // background-color: red;
          display: block;
          width: 30px;
          margin: 0 auto;
          box-sizing:  border-box;
          fill: white;
        }
        .record-button-label{
          padding-top: 7px;
          text-align: center;
        }
        &:hover{
          cursor: pointer;
          background-color: $color-3;
        }
        &:active{
        background-color: $color-4;
        }
      }
    }

    #time-display{
      padding-bottom: 30px;
      text-align: center;
      font-family: monospace;
      font-size: 30px;
      color: #d93941
    }
  }

}