#recorder-wrapper {
  width: 380px;
  padding-top: 15px;
  padding-bottom: 30px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes pulse {
  0% { box-shadow: 0 0 1px red; }
  40% { box-shadow: 0 0 20px red; }
  60% { box-shadow: 0 0 20px red; }
  100% { box-shadow: 0 0 1px red; }
}

.pulse-border {
    animation: pulse 2000ms infinite;
}

h1, h2 {
  text-align: center;
  font-weight: normal;
  padding: 0.5rem 0 0 0;
}

.main-controls {
  padding: 0.5rem 0;
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 200px;
  height: 300px;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.meter-container{
  width: 100%;
}

#buttons{
  text-align: center;
  width: 100%;
}

.record, .stop{
  display: inline-block;
  width: 100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/* Make the clips use as much space as possible, and
 * also show a scrollbar when there are too many clips to show
 * in the available space */
.sound-clips {
  flex: 1;
  overflow: auto;
}

progress{
  width: 200px;
  margin-left: 10px;
}

section, article {
  display: block;
}

.clip {
  padding-bottom: 1rem;
}

audio {
  width: 100%;
  display: block;
  margin: 1rem auto 0.5rem;
}

.clip p {
  display: inline-block;
}

.clip button {
  float: right;
}

button.delete {
  background: #f00;
  padding: 0.5rem 0.75rem;
}

button.upload {
  background: #006400;
  padding: 0.5rem 0.75rem;
  margin-left: 10px;
  margin-right: 10px;
}

/* Checkbox hack to control information box display */

label.recorder {
  position: absolute;
  top: 2px;
  right: 3px;
  z-index: 5;
  cursor: pointer;
}

input[type=checkbox].recorder {
   position: absolute;
   top: -100px;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: 0.3s all ease-out;
  background-color: #efefef;
  padding: 1rem;
}

aside p {
  margin: 0.5rem 0;
}

aside a {
  color: #666;
}

/* Toggled State of information box */
input[type=checkbox]:checked ~ aside {
  transform: translateX(0);
}

/* Cursor when clip name is clicked over */
.clip p {
  cursor: pointer;
}
