.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1, h2 {
  text-align: center;
  font-weight: normal;
  padding: 0.5rem 0 0 0;
}

.main-controls {
  padding: 0.5rem 0;
}

canvas {
  width: 30px;
  height: 60px;
  margin-bottom: 0.5rem;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#buttons button {
  padding: 1rem;
  width: calc(50% - 0.25rem);
}

/* Make the clips use as much space as possible, and
 * also show a scrollbar when there are too many clips to show
 * in the available space */
.sound-clips {
  flex: 1;
  overflow: auto;
}

section, article {
  display: block;
}

.clip {
  padding-bottom: 1rem;
}

audio {
  width: 100%;
  display: block;
  margin: 1rem auto 0.5rem;
}

.clip p {
  display: inline-block;
}

.clip button {
  float: right;
}

button.delete {
  background: #f00;
  padding: 0.5rem 0.75rem;
}

button.upload {
  background: #006400;
  padding: 0.5rem 0.75rem;
  margin-left: 10px;
  margin-right: 10px;
}

/* Checkbox hack to control information box display */

label.recorder {
  position: absolute;
  top: 2px;
  right: 3px;
  z-index: 5;
  cursor: pointer;
}

input[type=checkbox].recorder {
   position: absolute;
   top: -100px;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: 0.3s all ease-out;
  background-color: #efefef;
  padding: 1rem;
}

aside p {
  margin: 0.5rem 0;
}

aside a {
  color: #666;
}

/* Toggled State of information box */
input[type=checkbox]:checked ~ aside {
  transform: translateX(0);
}

/* Cursor when clip name is clicked over */
.clip p {
  cursor: pointer;
}
