#reports-page {
  .charts {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 20px;
    .chart-container {
      flex: 1 1 40%;
      max-width: 600px;
      padding: 15px;
    }
  }

  .tables-container {
    margin-left: 30px;
  }

  .table-title {
    user-select: none;
    margin-bottom: -10px;
    &:hover {
      cursor: pointer;
    }
  }

  .expand-collapse {
    width: 20px;
    transform: translateY(4px);
  }

  .sub-table-title{
    font-style: italic;
  }
}
