// Mobile breakpoint
$max-mobile-width: 800px;

// White text
$color-1: rgb(39, 94, 89);
$color-2: rgb(54, 125, 119);
$color-3: rgb(73, 165, 157);

// Black text
$color-4: rgb(149, 181, 179);
$color-5: rgb(188, 190, 192);
$color-6: rgb(212, 214, 217);

// Player
$timeline-thickness: 6px;
$playhead-radius: 10px;
$player-button-container-height: 70px;
$player-button-container-width: 50px;
$player-button-edge-length: 37px;