$navbar-height: 125px;
$menubar-height: 50px;

$background-dark: #1c3e66;
$background-light: #3c679a;
$background-very-light: #89aadf;
$well-background: #f4f9ff;
$table-row-dark: #dddddd;
$table-row-light: #eeeeee;
