// Mobile breakpoints
$max-mobile-width: 800px;
$max-table-width: 1030px;

// White text
$color-1: rgb(39, 94, 89);
$color-2: rgb(54, 125, 119);
$color-3: rgb(73, 165, 157);

// Black text
$color-4: rgb(149, 181, 179);
$color-5: rgb(188, 190, 192);
$color-6: rgb(212, 214, 217);
$color-7: rgba(212, 214, 217, 0.4);

// Well
$color-8: rgb(210, 210, 210);
$color-9: rgb(251, 251, 251);

// Player
$timeline-thickness: 6px;
$playhead-radius: 10px;
$player-button-container-height: 67px;
$player-button-container-width: 60px;
$player-button-edge-length: 37px;

// Forms
$form-input-max-width: 320px;
$form-input-padding: 10px; 
$form-label-font-size: 14px; 