// Mobile breakpoint
$max-mobile-width: 800px;

// Colors
$logo-dark: rgb(74, 164, 156);
$logo-light: rgb(187, 189, 191);
$logo-dark-semi: rgba(74, 164, 156, 0.3);
$logo-light-semi: rgba(187, 189, 191, 0.3);

// Playback timeline dimensions
$timeline-thickness: 5px;
$playhead-radius: 5px;