.table-container{
  table{
    border-collapse: collapse;
    tr.header-row{
      background-color: $color-1;
      color: white;
      text-align: left;
    }
    th{
      padding: 10px;
      font-weight: normal;
    }
    tr.table-row:nth-child(even){
      background-color: #f3f3f3;
    }
    tr.table-row:nth-child(odd){
      background-color: #fafafa;
    }
    td{
      padding: 10px;
    }
    .table-link{
      color: #3A70A6;
    }
  }
}
