.table-container{
  table{
    border-collapse: collapse;
    tr.header-row{
      text-align: left;
    }
    th{
      padding: 10px;
      font-weight: normal;
      background-color: white;
      color: #fff;
    }
    tr.table-row:nth-child(even){
      background-color: white;
    }
    tr.table-row:nth-child(odd){
      background-color: white;
    }
    td{
      padding: 10px;
    }
  }
}
