.table-container{
  table{
    border-collapse: collapse;
    tr.header-row{
      background-color: $color-1;
      color: white;
      text-align: left;
    }
    tr.light-header-row{
      background-color: $color-2;
      color: white;
      text-align: left;
    }
    th{
      font-size: 16px;
      padding: 10px;
      font-weight: normal;
    }
    tr.table-row:nth-child(even){
      background-color: #f3f3f3;
    }
    tr.table-row:nth-child(odd){
      background-color: #fafafa;
    }
    td{
      padding: 10px;
      font-size: 16px;
    }
    .table-link{
      color: #3A70A6;
    }
  }
}

.tablesorter-header {
  display: table-cell !important;
  vertical-align: middle !important;
  background-position: left center !important;
  padding-left: 20px;
}

.tablesorter-header-inner{
  padding-left: 15px;
}