$tab-height: 50px;

#index-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
  #tab-container{
    height: $tab-height;
    width: 90%;
    #tabs{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 50px;
      .tab{
        display: inline-block;
        height: $tab-height;
        line-height: $tab-height;
        text-align: center;
        margin-right: 8px;
        padding-left: 8px;
        padding-right: 8px;
        background-color: $background-light;;
        color: #ddd;
        border-top: 1px solid $background-light;
        border-right: 1px solid $background-light;
        border-left: 1px solid $background-light;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        &:hover{
          cursor: pointer;
        }
      }
      .selected{
        z-index: 1;
        padding-bottom: 1px;
        background-color: #fff;
        color: #333;
      }
    }
  }
  #content-container{
    height: 100%; 
    padding: 20px;
    width: calc(90% - 42px);
    background-color: #fff;
    border: 1px solid $background-light;
    border-radius: 0 3px 3px 3px;;
    table {
      width: calc(100% - 100px);
      margin-top: 30px;
      margin-left: 50px;
      margin-right: 50px;
      border-collapse: collapse;
      #header-row{
        background-color: $background-dark;
        color: #fff; 
        th{
          padding: 10px;
          text-align: left;
          font-weight: normal;
        }
      }
    }
  }
  td{
    padding: 10px;
    text-align: left;
  }
}

