$tab-height: 50px;

#index-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
  #tab-row{
    height: $tab-height;
    width: 90%;
    #tab-container{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 50px;
      .tab{
        display: inline-block;
        height: $tab-height;
        line-height: $tab-height;
        text-align: center;
        margin-right: 8px;
        padding-left: 8px;
        padding-right: 8px;
        background-color: #fff;
        border-top: 1px solid $background-light;
        border-right: 1px solid $background-light;
        border-left: 1px solid $background-light;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
      .selected{
        z-index: 1;
        padding-bottom: 1px;
      }
    }
  }
  #content-row{
    height: 100%; 
    padding: 20px;
    width: calc(90% - 42px);
    background-color: #fff;
    border: 1px solid $background-light;
    border-radius: 0 3px 3px 3px;;
  }
}

