#index-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  #tab-container{
    #tabs{
      padding-top: 30px;
      .tab{
        margin-right: 20px;
        display: inline-block;
        font-size: 17px;
        color: #777;
        &:hover{
          cursor: pointer;
        }
      }
      .selected{
        z-index: 1;
        color: #222;
        font-size: 20px;
      }
    }
  }
  #content-container{
    height: 100%; 
    padding: 20px;
    width: calc(90% - 42px);
    background-color: #fff;
    // border: 1px solid white;
    // border-radius: 0 3px 3px 3px;;
    table {
      width: calc(100% - 100px);
      margin-top: 30px;
      margin-left: 50px;
      margin-right: 50px;
      border-collapse: collapse;
      #header-row{
        background-color: white;
        color: #fff; 
        th{
          padding: 10px;
          text-align: left;
          font-weight: normal;
        }
      }
    }
  }
  td{
    padding: 10px;
    text-align: left;
  }
}
