#new-note-badge {
  display: inline-block;
  color: white;
  background-color: #AB852B;
  font-size: 18px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  &:hover {
    background-color: #7F621D;
    cursor: pointer;
  }
}

#note-container {
  display: none;
}
