- if @resource.created_as_caregiver
  %p
    Hello! You have been invited to create an account for the HealthPAL application.
  %p
    By listening to your patient’s recordings
    you can stay up to date on their health and add comments on their recordings.
  %p
    = link_to 'Click here', accept_invitation_url(@resource, invitation_token: @token)
    to set up your account and begin using HealthPAL.

- else
  %p
    Hello! You have been invited to create an account for the HealthPAL application.
    = link_to 'Click here', accept_invitation_url(@resource, invitation_token: @token)
    to set up your account and begin using HealthPAL.