%p
  Hello! You have been invited to create an account for the HealthPAL application at audiohealthpal.com.
  = link_to 'Click here', accept_invitation_url(@resource, invitation_token: @token)
  to set up your account and begin using HealthPAL.