%p
  Hello! You have been invited to create an account at test.audiohealthpal.com.
  = link_to 'Click here', accept_invitation_url(@resource, invitation_token: @token)
  To choose a password and begin using HealthPAL.