#nav-container
  #logo-container
    #logo-spans
      %span= image_tag('open_recordings.png', width: '120px')
      %span#logo-health Health
      - pal_text = current_user&.privileged? ? 'PAL-ADMIN' : 'PAL'
      %span#logo-pal>= pal_text
      - unless Rails.env == 'production'
        -# foo is replaced by latest commit SHA1 by running commit_hash_to_navbar during docker builds
        %span.debug-content#commit-hash foo
  - if user_signed_in?
    -# Element IDs are for Selenium testing
    #menu-container
      .navbar-left
        =link_to 'User Management', admin_path, id: 'nav-user-management'
        =link_to 'Manage Recordings', manage_recordings_path, id: 'nav-manage-recordings'
        =link_to 'Analytics', analytics_path, id: 'nav-analytics'
        =link_to 'New Recording', record_path, id: 'nav-new-recording'
        =link_to 'Recordings', my_recordings_path, id: 'nav-my-recordings'
        =link_to 'Sharing', shares_path, id: 'nav-share'
      .navbar-right
        =link_to "Sign out #{current_user.email}", '#'
        =link_to 'Account', '#'
        =link_to 'Help', '#'

-#       #menu-spans
-#           - if current_user.privileged?
-#             %li.menu-left= link_to 'User Management', admin_path, id: 'nav-user-management'
-#             %li.menu-left= link_to 'Manage Recordings', manage_recordings_path, id: 'nav-manage-recordings'
-#             %li.menu-left= link_to 'Analytics', analytics_path, id: 'nav-analytics'
-#           %li.menu-left>= link_to 'New Recording', record_path, id: 'nav-new-recording'
-#           %li.menu-left>= link_to 'Recordings', my_recordings_path, id: 'nav-my-recordings'
-#           %li.menu-left>= link_to 'Sharing', shares_path, id: 'nav-share'
-#         %span#menu-right
-#           %ul
-#             %li.menu-right>= link_to 'Help', help_path, id: 'nav-help'
-#             %li.menu-right>= link_to "Account <span class='fa fa-cog' style='margin-right: 3px;'></span>".html_safe, edit_user_registration_path, id: 'nav-account'
-#             %li.menu-right>= link_to "Sign out #{current_user.full_name}", destroy_user_session_path, method: :delete, id: 'nav-signout'
