-# foo is replaced by the latest commit hash upon Docker image build
-# The HTTP comment below will always show the commit being served
/ foo

#nav-container
  #logo-container
    #logo-spans
      %span.image#icon= image_tag('open_recordings_icon.png', width: '50px')
      #logo-text-container
        %span#logo-open Open
        %span#logo-recordings> Recordings
        %br
        %span#logo-health Health
        %span#logo-pal> PAL
        - if current_user&.privileged?
          %span#logo-admin ADMIN
  - if user_signed_in?
    -# Element IDs are for Selenium testing
    #menu-container
      #navbar-left
        - if current_user.privileged?
          =link_to t(:user_management), admin_path, id: 'nav-user-management', class: clickable_class(admin_path)
          =link_to t(:manage_recordings), manage_recordings_path, id: 'nav-manage-recordings', class: clickable_class(manage_recordings_path)
          =link_to t(:analytics), analytics_path, id: 'nav-analytics', class: clickable_class(analytics_path)
        =link_to t(:new_recording), record_path, id: 'nav-new-recording', class: clickable_class(record_path)
        =link_to t(:recordings), my_recordings_path, id: 'nav-my-recordings', class: clickable_class(my_recordings_path)
        =link_to t(:sharing), shares_path, id: 'nav-share', class: clickable_class([shares_path, no_shares_path])
      #navbar-right
        %span#mobile-menu-button{class: 'local-fa fa fa-bars'}
        =link_to "Sign out #{current_user.email}", destroy_user_session_path, method: :delete, id: 'nav-signout', class: clickable_class(destroy_user_session_path)
        =link_to "#{t(:account)} <span class='fa fa-cog' style='margin-right: 3px;'></span>".html_safe, edit_user_registration_path, id: 'nav-account', class: clickable_class(edit_user_registration_path)
        =link_to t(:help), help_path, id: 'nav-help', class: clickable_class(help_path)
