- enrollments = @report.enrollment_status[site]
-# = debug site
-# = debug enrollments
.table-container.pad-left-30.margin-top-40
  .sub-table-title= site == 'all' ? 'All Sites' : @report.site_names[site]
  %table
    %thead
      %tr.header-row
        %th 
        %th Intervention
        %th Usual Care
        %th %
    %tbody
      %tr.table-row
        %td Enrolled
        %td= enrollments['enrolled_intervention']
        %td= enrollments['enrolled_usual_care']
        %td 100
      %tr.table-row
        %td
          .pad-left-20 Consent in person
        %td
        %td
        %td
      %tr.table-row
        %td
          .pad-left-20 eConsent
        %td
        %td
        %td
      %tr.table-row
        %td Active
        %td
        %td
        %td
      %tr.table-row
        %td Completed
        %td
        %td
        %td
      %tr.light-header-row
        %td
        %td
        %td
        %td
      %tr.table-row
        %td Discontinued - Follow-up Continued
        %td
        %td
        %td 100
      %tr.table-row
        %td Personal Reason
        %td
        %td
        %td
      %tr.table-row
        %td Serious Adverse Event / AE
        %td
        %td
        %td
      %tr.light-header-row
        %td
        %td
        %td
        %td
      %tr.table-row
        %td Discontinued from Study
        %td
        %td
        %td 100
      %tr.table-row
        %td Lost to follow-up
        %td
        %td
        %td
      %tr.table-row
        %td Serious Adverse Event / AE
        %td
        %td
        %td
      %tr.table-row
        %td Withdrew Consent
        %td
        %td
        %td
